<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="UTF-8">
    <title>废宝--环保美文</title>
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" type="text/css" href="../css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="../css/style.css">
</head>
<body>
<div class="jumbotron">
    <h1>环保美文</h1>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-3">
            <a href="index.html" ><img src="../public/imgs/logo_h50.png" alt="logo" class="logo"/></a>
        </div>
        <div class="col-md-7">
            <form class="form-inline pull-left">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="请输入美文名称">
                    <button type="submit" class="btn btn-success">搜索</button>
                </div>
            </form>
        </div>
        <div class="col-md-2">
            <div class="btn-group" role="group">
                <button type="button" class="btn btn-default" data-toggle="modal" data-target="#login_modal">登录</button>
                <button type="button" class="btn btn-default" data-toggle="modal" data-target="#register_modal">注册</button>
            </div>
        </div>
    </div>
</div>
<nav class="navbar navbar-default">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#indexNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse" id="indexNavbar">
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">环保知识分类<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#"> 最热</a></li>
                        <li><a href="#"> 最新</a></li>
                        <li><a href="#"> 最感人</a></li>
                    </ul>
                </li>
                <li><a href="index.html"><span class="glyphicon glyphicon-home"></span>  首页</a></li>
                <li><a href="recycle_waste.html"><span class="glyphicon glyphicon-list"></span>  废品回收</a></li>
                <li><a href="mall.html"><span class="glyphicon glyphicon-fire"></span>  日常百货</a></li>
                <li  class="active"><a href="article.html"><span class="glyphicon glyphicon-fire"></span>  环保知识</a></li>
                <li><a href="my_feibao.html"><span class="glyphicon glyphicon-question-sign"></span>  我的废宝</a></li>
            </ul>
        </div>

    </div>
</nav>


<div id="mall_carousel" class="carousel slide text-center" data-ride="carousel" style="width: 1200px;height:220px;margin:0 auto;">
    <ol class="carousel-indicators">
        <li data-target="#mall_carousel" data-slide-to="0"></li>
        <li data-target="#mall_carousel" data-slide-to="1"></li>
        <li data-target="#mall_carousel" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <img src="../imgs/hot_knowledge.jpg" alt="轮播第一张" style="margin:0 auto;">
        </div>
        <div class="item">
            <img src="../imgs/new.jpg" alt="轮播第二张" style="margin:0 auto;">
        </div>
        <div class="item">
            <img src="../imgs/move.jpg" alt="轮播第三张" style="margin:0 auto;">
        </div>
    </div>
    <a href="#mall_carousel" data-slide="prev" class="carousel-control left"><span class="glyphicon glyphicon-chevron-left"></span></a>
    <a href="#mall_carousel" data-slide="next" class="carousel-control right"><span class="glyphicon glyphicon-chevron-right"></span></a>
</div>
<div class="container">
    <ul class="media-list">
        <li class="media">
            <div class="media-left media-middle">
                <a href="article_detail.html">
                    <img class="media-object" src="../public/imgs/article1.jpg" alt="环保美文1图片" width="200" height="150">
                </a>
            </div>
            <div class="media-body">
                <h4 class="media-heading">环保知识美文1</h4>
                <p>保护环境，不是背书，不是游戏。需要你的行动，具体到你把垃圾扔进垃圾桶</p>
            </div>
        </li>
        <li class="media">
            <div class="media-left media-middle">
                <a href="article_detail.html">
                    <img class="media-object" src="../imgs/article2.jpg" alt="环保美文1图片" width="200" height="150">
                </a>
            </div>
            <div class="media-body">
                <h4 class="media-heading">环保知识美文1</h4>
                <p>保护环境，不是背书，不是游戏。需要你的行动，具体到你把垃圾扔进垃圾桶</p>
            </div>
        </li>
        <li class="media">
            <div class="media-left media-middle">
                <a href="article_detail.html">
                    <img class="media-object" src="../imgs/article3.jpg" alt="环保美文1图片" width="200" height="150">
                </a>
            </div>
            <div class="media-body">
                <h4 class="media-heading">环保知识美文1</h4>
                <p>保护环境，不是背书，不是游戏。需要你的行动，具体到你把垃圾扔进垃圾桶</p>
            </div>
        </li>
        <li class="media">
            <div class="media-left media-middle">
                <a href="article_detail.html">
                    <img class="media-object" src="../imgs/article3.jpg" alt="环保美文1图片" width="200" height="150">
                </a>
            </div>
            <div class="media-body">
                <h4 class="media-heading">环保知识美文1</h4>
                <p>保护环境，不是背书，不是游戏。需要你的行动，具体到你把垃圾扔进垃圾桶</p>
            </div>
        </li>
    </ul>
</div>

<div class="modal fade" id="login_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">登录</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="username">用户名:</label>
                    <input type="text" class="form-control" id="username" placeholder="用户名/账号">
                </div>
                <div class="form-group">
                    <label for="password">密码:</label>
                    <input type="password" class="form-control" id="password" placeholder="Password">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-success">登录</button>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="register_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">登录</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label>用户名(手机号):
                        <input type="text" class="form-control" placeholder="用户名/账号">
                    </label>
                </div>
                <div class="form-group">
                    <label>密码:
                        <input type="password" class="form-control" placeholder="密码">
                    </label>
                </div>
                <div class="form-group">
                    <label>确认密码:
                        <input type="password" class="form-control" placeholder="确认密码">
                    </label>
                </div>
                <div class="form-group">
                    <label>手机号:
                        <input type="password" class="form-control" placeholder="手机号">
                    </label>
                </div>
                <div class="form-group">
                    <label>详细地址(请具体到门牌号):
                        <input type="password" class="form-control" placeholder="详细地址">
                    </label>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-success">注册</button>
            </div>
        </div>
    </div>
</div>
<footer id="mall_footer" style="background-color: #F8F8F8;padding: 10px auto;">
    <div class="container text-center">
        <p>废品回收 | 百货购买 | 版权投诉</p>
        <p> © 2009-2016 废宝网. Powered by Bootstrap.</p>
    </div>
</footer>
<script src="../js/jquery-1.11.3.js"></script>
<script src="../js/bootstrap.js"></script>
<script src="../js/angular.js"></script>
<script src="../js/angular-route.js"></script>
<script type="text/javascript">

</script>
</body>
</html>