<!DOCTYPE html>
<html lang="zh-cn" ng-app="feibao_article_detail">
<head>
    <meta charset="UTF-8">
    <title>废宝--环保美文</title>
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" type="text/css" href="../css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="../css/style.css">
</head>
<body>
<div class="jumbotron">
    <h1>环保美文详情</h1>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-3">
            <a href="index.html" ><img src="../public/imgs/logo_h50.png" alt="logo" class="logo"/></a>
        </div>
        <div class="col-md-7">
            <form class="form-inline pull-left">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="请输入美文名称">
                    <button type="submit" class="btn btn-success">搜索</button>
                </div>
            </form>
        </div>
        <div class="col-md-2">
            <div class="btn-group" role="group">
                <button type="button" class="btn btn-default" data-toggle="modal" data-target="#login_modal">登录</button>
                <button type="button" class="btn btn-default" data-toggle="modal" data-target="#register_modal">注册</button>
            </div>
        </div>
    </div>
</div>
<nav class="navbar navbar-default">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#indexNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse" id="indexNavbar">
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">环保知识分类<span class="caret"></span></a>
                </li>
                <li><a href="index.html"><span class="glyphicon glyphicon-home"></span>  首页</a></li>
                <li><a href="recycle_waste.html"><span class="glyphicon glyphicon-list"></span>  废品回收</a></li>
                <li><a href="mall.html"><span class="glyphicon glyphicon-fire"></span>  日常百货</a></li>
                <li  class="active"><a href="article.html"><span class="glyphicon glyphicon-fire"></span>  环保知识</a></li>
                <li><a href="my_feibao.html"><span class="glyphicon glyphicon-question-sign"></span>  我的废宝</a></li>
            </ul>
        </div>

    </div>
</nav>


<div class="container text-center">
    <h3>谷歌安卓营收为310亿美元 利润220亿</h3>
    <time>2016年01月22日 08:59</time><br>
    <img src="../public/imgs/knowledge_detail1.jpg"><br>
    网易科技讯 1月22日消息，据路透社报道，甲骨文公司的一位律师在法庭出示文件称，谷歌安卓操作系统营收为310亿美元，利润为220亿美元。

    报道称，Alphabet公司旗下的谷歌表示，不应公开这一数据。

    这则信息披露于今年1月14日。甲骨文起诉谷歌未经许可使用Java软件开发安卓系统。

    据了解，Android盈利的公开方式有两种：广告及应用市场抽成。

    谷歌与甲骨文未回应媒体的采访请求。（维尼）

    谷歌与甲骨文的法律纠纷

    在2010年1月收购Sun之后，甲骨文于同年8月控告谷歌侵犯其版权和专利，称Android不能在未经授权的情况下使用Java的API。谷歌回击称，API不受版权保护，因为它们对于软件开发、协作与创新必不可少。

    2012年5月，陪审团认定谷歌没有侵犯甲骨文的专利，称Java的API不受版权保护。2014年5月，美国联邦巡回法院部分推翻了地区法院的裁决，裁定Java的API受版权保护。2015年6月，美国最高法院拒绝审理该案件，将其递回给地方法院，因此谷歌可能会辩称它没有不正当使用甲骨文受版权保护的API。
    <button class="btn btn-default">点赞</button>
</div>

<footer id="mall_footer" style="background-color: #F8F8F8;padding: 10px auto;">
    <div class="container text-center">
        <p>废品回收 | 百货购买 | 版权投诉</p>
        <p> © 2009-2016 废宝网. Powered by Bootstrap.</p>
    </div>
</footer>
<script src="../js/jquery-1.11.3.js"></script>
<script src="../js/bootstrap.js"></script>
<script src="../js/angular.js"></script>
<script src="../js/angular-route.js"></script>
<script type="text/javascript">
    var app =angular.module('feibao_article_detail',['ngRoute']);
    //废宝文章
    app.controller('article_detail',function($rootScope,$scope,$http,$state,$stateParams){
        var article_id = $stateParams.article_id;
        alert(article_id);
    });
</script>
</body>
</html>