<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="UTF-8">
    <title>废宝--环保美文详情</title>
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" href="../public/css/bootstrap.css" />
    <link rel="stylesheet" href="../public/css/style.css" />
</head>
<body>
<div class="jumbotron">
    <h1>环保美文</h1>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-3">
            <a href="index.html" ><img src="../public/imgs/logo_h50.png" alt="logo" class="logo"/></a>
        </div>
        <div class="col-md-7">
            <form class="form-inline pull-left">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="请输入美文名称">
                    <button type="submit" class="btn btn-success">搜索</button>
                </div>
            </form>
        </div>
        <div class="col-md-2">
            <div class="btn-group" role="group">
                <button type="button" class="btn btn-default" data-toggle="modal" data-target="#login_modal">登录</button>
                <button type="button" class="btn btn-default" data-toggle="modal" data-target="#register_modal">注册</button>
            </div>
        </div>
    </div>
</div>
<nav class="navbar navbar-default">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#indexNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse" id="indexNavbar">
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">环保知识分类<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#"> 最热</a></li>
                        <li><a href="#"> 最新</a></li>
                        <li><a href="#"> 最感人</a></li>
                    </ul>
                </li>
                <li><a href="index.html"><span class="glyphicon glyphicon-home"></span>  首页</a></li>
                <li><a href="recycle_waste.html"><span class="glyphicon glyphicon-list"></span>  废品回收</a></li>
                <li><a href="mall.html"><span class="glyphicon glyphicon-fire"></span>  日常百货</a></li>
                <li  class="active"><a href="article.html"><span class="glyphicon glyphicon-fire"></span>  环保知识</a></li>
                <li><a href="my_feibao.html"><span class="glyphicon glyphicon-question-sign"></span>  我的废宝</a></li>
            </ul>
        </div>

    </div>
</nav>

<div class="table-responsive container">
    <table class="table">
        <tr>
            <td>环保知识分类:</td>
            <td>最热</td>
            <td>最新</td>
            <td>最感人</td>
        </tr>
    </table>
</div>

<div class="container text-center">
    <h3>谷歌安卓营收为310亿美元 利润220亿</h3>
    <time>2016年01月22日 08:59</time><br>
    <img src="../public/imgs/knowledge_detail1.jpg"><br>
    网易科技讯 1月22日消息，据路透社报道，甲骨文公司的一位律师在法庭出示文件称，谷歌安卓操作系统营收为310亿美元，利润为220亿美元。

    报道称，Alphabet公司旗下的谷歌表示，不应公开这一数据。

    这则信息披露于今年1月14日。甲骨文起诉谷歌未经许可使用Java软件开发安卓系统。

    据了解，Android盈利的公开方式有两种：广告及应用市场抽成。

    谷歌与甲骨文未回应媒体的采访请求。（维尼）

    谷歌与甲骨文的法律纠纷

    在2010年1月收购Sun之后，甲骨文于同年8月控告谷歌侵犯其版权和专利，称Android不能在未经授权的情况下使用Java的API。谷歌回击称，API不受版权保护，因为它们对于软件开发、协作与创新必不可少。

    2012年5月，陪审团认定谷歌没有侵犯甲骨文的专利，称Java的API不受版权保护。2014年5月，美国联邦巡回法院部分推翻了地区法院的裁决，裁定Java的API受版权保护。2015年6月，美国最高法院拒绝审理该案件，将其递回给地方法院，因此谷歌可能会辩称它没有不正当使用甲骨文受版权保护的API。
    <button class="btn btn-default">点赞</button>
</div>




<div class="modal fade" id="login_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">登录</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="username">用户名:</label>
                    <input type="text" class="form-control" id="username" placeholder="用户名/账号">
                </div>
                <div class="form-group">
                    <label for="password">密码:</label>
                    <input type="password" class="form-control" id="password" placeholder="Password">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-success">登录</button>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="register_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">登录</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label>用户名(手机号):
                        <input type="text" class="form-control" placeholder="用户名/账号">
                    </label>
                </div>
                <div class="form-group">
                    <label>密码:
                        <input type="password" class="form-control" placeholder="密码">
                    </label>
                </div>
                <div class="form-group">
                    <label>确认密码:
                        <input type="password" class="form-control" placeholder="确认密码">
                    </label>
                </div>
                <div class="form-group">
                    <label>手机号:
                        <input type="password" class="form-control" placeholder="手机号">
                    </label>
                </div>
                <div class="form-group">
                    <label>详细地址(请具体到门牌号):
                        <input type="password" class="form-control" placeholder="详细地址">
                    </label>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-success">注册</button>
            </div>
        </div>
    </div>
</div>
<!--<footer id="mall_footer">-->
    <!--<div class="container">-->
        <!--<p>废品回收 | 百货购买 | 版权投诉</p>-->
        <!--<p> © 2009-2016 废宝网. Powered by Bootstrap.</p>-->
    <!--</div>-->
<!--</footer>-->
<script src="../public/js/jquery-1.11.3.js"></script>
<script src="../public/js/bootstrap.js"></script>
</body>
</html>