<!DOCTYPE html>
<html lang="zh-cn" ng-app="feibao_article">
<head>
    <meta charset="UTF-8">
    <title>废宝--环保美文</title>
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" type="text/css" href="../css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="../css/style.css">
    <link rel="stylesheet" href="../summernote/summernote.css" />
</head>
<body>
<div class="jumbotron">
    <h1>环保美文</h1>
</div>
<nav class="navbar navbar-default">
    <div class="container">
        <div class="row">
            <div class="col-md-1">
                <a href="index.html" ><img src="../imgs/logo_h50.png" alt="logo" class="logo" style="width:100px;height:50px;"/></a>
            </div>
            <div class="col-md-6">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#indexNavbar">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <div class="collapse navbar-collapse" id="indexNavbar">
                    <ul class="nav navbar-nav">
                        <li><a href="index.html"><span class="glyphicon glyphicon-home"></span>  首页</a></li>
                        <li><a href="recycle_waste.html"><span class="glyphicon glyphicon-refresh"></span>  废品回收</a></li>
                        <li><a href="mall.html"><span class="glyphicon glyphicon-shopping-cart"></span>  日常百货</a></li>
                        <li class="active"><a href="article.html"><span class="glyphicon glyphicon-book"></span>  环保知识</a></li>
                        <li><a href="my_feibao.html"><span class="glyphicon glyphicon-user"></span>  我的废宝</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-5" style="padding-top:8px; ">
                <div style="width: 150px;display: inline;" class="pull-right">
                    <div class="btn-group" role="group" ng-hide="activeUser">
                        <button type="button" class="btn btn-default" data-toggle="modal" data-target="#login_modal">登录</button>
                        <button type="button" class="btn btn-default" data-toggle="modal" data-target="#register_modal">注册</button>
                    </div>
                    <div ng-show="activeUser" style="padding-top:4px; ">
                        <span>你好:</span>
                        <span class="text-success">{{activeUser.name}}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>


<div id="mall_carousel" class="carousel slide text-center" data-ride="carousel" style="width: 1200px;height:220px;margin:0 auto;">
    <ol class="carousel-indicators">
        <li data-target="#mall_carousel" data-slide-to="0"></li>
        <li data-target="#mall_carousel" data-slide-to="1"></li>
        <li data-target="#mall_carousel" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <img src="../imgs/hot_knowledge.jpg" alt="轮播第一张" style="margin:0 auto;">
        </div>
        <div class="item">
            <img src="../imgs/new.jpg" alt="轮播第二张" style="margin:0 auto;">
        </div>
        <div class="item">
            <img src="../imgs/move.jpg" alt="轮播第三张" style="margin:0 auto;">
        </div>
    </div>
    <a href="#mall_carousel" data-slide="prev" class="carousel-control left"><span class="glyphicon glyphicon-chevron-left"></span></a>
    <a href="#mall_carousel" data-slide="next" class="carousel-control right"><span class="glyphicon glyphicon-chevron-right"></span></a>
</div>
<div class="container" ng-controller="article">
    <br>
    <div class="row">
        <div class="col-md-4  col-md-offset-4">
            <input type="text" class="form-control" placeholder="请输入文章名称进行查询" ng-model="search">
        </div>
    </div>
    <br/>
    <div class="row">
        <div class="col-sm-4 col-md-3  text-center" ng-repeat="article in articles|filter:search">
            <div class="thumbnail">
                <button type="button" class="btn btn-default" ng-click="show_article_detail(article._id)">
                    <img class="media-object" src="{{article.photo}}" alt="{{article.name}}" width="150" height="150">
                </button>
                <div class="caption text-center">
                    <h4 class="media-heading">{{article.name}}</h4>
                    <p>{{article.summary}}</p>
                </div>
            </div>
        </div>
    </div>
    <!--文章详情模态框-->
    <div class="modal fade" id="show_article_detail_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">文章详情</h4>
                </div>
                <div class="modal-body text-center">
                    <h2>{{article_detail.name}}</h2>
                    <p>{{article_detail.summary}}</p>
                    <time>{{article_detail.date}}</time>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span>{{article_detail.author}}</span><br>
                    <img src="{{article_detail.photo}}" width="250" height="250"><br><br>
                    <textarea id="article_detail_content" class="text-left" title="文章内容" style="width: 800px;"></textarea>
                    <button class="btn btn-default">点赞</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="login_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">登录</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="username">用户名:</label>
                    <input type="text" class="form-control" id="username" placeholder="用户名/账号">
                </div>
                <div class="form-group">
                    <label for="password">密码:</label>
                    <input type="password" class="form-control" id="password" placeholder="Password">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-success">登录</button>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="register_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">登录</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label>用户名(手机号):
                        <input type="text" class="form-control" placeholder="用户名/账号">
                    </label>
                </div>
                <div class="form-group">
                    <label>密码:
                        <input type="password" class="form-control" placeholder="密码">
                    </label>
                </div>
                <div class="form-group">
                    <label>确认密码:
                        <input type="password" class="form-control" placeholder="确认密码">
                    </label>
                </div>
                <div class="form-group">
                    <label>手机号:
                        <input type="password" class="form-control" placeholder="手机号">
                    </label>
                </div>
                <div class="form-group">
                    <label>详细地址(请具体到门牌号):
                        <input type="password" class="form-control" placeholder="详细地址">
                    </label>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-success">注册</button>
            </div>
        </div>
    </div>
</div>
<footer id="mall_footer" style="background-color: #F8F8F8;padding: 10px auto;">
    <div class="container text-center">
        <p>废品回收 | 百货购买 | 版权投诉</p>
        <p> © 2009-2016 废宝网. Powered by Bootstrap.</p>
    </div>
</footer>
<script src="../js/jquery-1.11.3.js"></script>
<script src="../js/bootstrap.js"></script>
<script src="../js/angular.js"></script>
<script src="../js/angular-route.js"></script>
<script src="../summernote/summernote.js"></script>
<script type="text/javascript">
    $(document).ready(function(){
        //初始化富文本编辑器、
        $('#article_detail_content').summernote({
            width:800,
            height:600,
            minHeight:300
        });
        $('#article_detail_content').summernote('disable');
    });
    var app =angular.module('feibao_article',['ngRoute']);
    //废宝文章
    app.controller('article',function($rootScope,$scope,$http){
        $scope.articles =[];//文章数组
        $scope.article_detail ={};//文章详情
        //查找所有文章
        $http({
            url:'/articles/find',
            method:'GET'
        }).success(function(articles){
            $scope.articles =articles;
//            alert(JSON.stringify($scope.articles));
        });
        //展示文章详细信息
        $scope.show_article_detail = function (article_id) {
            //根据id查找文章
            $http({
                url:'/articles/findById',
                method:'POST',
                data:{
                    id:article_id
                }
            }).success(function(article_detail){
                $scope.article_detail =article_detail;
                $('#article_detail_content').summernote('code', article_detail.content);
                $('#show_article_detail_modal').modal('show');

            });
        };
//        $scope.show_article_detail =function(article_id){
//            //按商品id查询商品
//            $http({
//                url:'/articles/findById',
//                method:'POST',
//                data:{
//                    id:article_id
//                }
//            }).success(function(article_detail){
//                $scope.ware_detail =ware_detail;
//                $('#ware_detail_modal').modal('show');
//            });
//        };
    });
//    app.state('article', {
//        url: '/article',
//        templateUrl: 'views/article.html',
//        controller: 'article'
//    });
//    app.state('article_detail', {
//        url: '/article_detail/:article_id',
//        templateUrl: 'views/article_detail.html',
//        controller: 'article_detail'
//    });
    //应用刷新检查是否登录
    app.run(function($rootScope,$http){
        $http({
            url:'/users/is_login',
            method:"POST",
        }).success(function (user) {
            $('#login_modal').modal('hide');
            $rootScope.activeUser =user;
        }).error(function(data){
            alert('您尚未登录，请先登录');
//            $('#login_modal').modal('show');
        });
    });
</script>
</body>
</html>