<!DOCTYPE html>
<html lang="zh-cn" ng-app="feibao_mall">
<head>
    <meta charset="UTF-8">
    <title>废宝--购物平台</title>
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" type="text/css" href="../css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="../css/style.css">
    <style type="text/css">
        .ware_sort_list td:hover{
            cursor: pointer;
            color: #5cb85c;
        }
    </style>
</head>
<body>
<div class="jumbotron">
    <h1>废宝——废宝商城</h1>
</div>
<nav class="navbar navbar-default">
    <div class="container">
        <div class="row">
            <div class="col-md-1">
                <a href="index.html" ><img src="../imgs/logo_h50.png" alt="logo" class="logo" style="width:100px;height:50px;"/></a>
            </div>
            <div class="col-md-6">
                <div class="navbar-header">

                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#indexNavbar">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <div class="collapse navbar-collapse" id="indexNavbar">

                    <ul class="nav navbar-nav">
                        <li><a href="index.html"><span class="glyphicon glyphicon-home"></span>  首页</a></li>
                        <li><a href="recycle_waste.html"><span class="glyphicon glyphicon-refresh"></span>  废品回收</a></li>
                        <li  class="active"><a href="mall.html"><span class="glyphicon glyphicon-shopping-cart"></span>  日常百货</a></li>
                        <li><a href="article.html"><span class="glyphicon glyphicon-book"></span>  环保知识</a></li>
                        <li><a href="my_feibao.html"><span class="glyphicon glyphicon-user"></span>  我的废宝</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-3">
                <!--按钮组-->
                <div class="btn-group" role="group" style="margin-top: 8px;">
                    <a class="btn btn-default" href="mall_my_order.html">我的订单</a>
                    <a class="btn btn-default" href="mall_my_order.html">周期配送</a>
                    <!--<a class="btn btn-default" href="mall_my_cart.html">购物车</a>-->
                    <button type="button" class="btn btn-default" data-toggle="tooltip" data-placement="bottom" title="23">我的余额</button>
                </div>
            </div>
            <div class="col-md-2">
                <div style="width: 150px; line-height: 50px">
                    <div class="btn-group" role="group" ng-hide="activeUser">
                        <button type="button" class="btn btn-default" data-toggle="modal" data-target="#login_modal">登录</button>
                        <button type="button" class="btn btn-default" data-toggle="modal" data-target="#register_modal">注册</button>
                    </div>
                    <div ng-show="activeUser">
                        <span>你好:</span>
                        <span class="text-success">{{activeUser.name}}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>

<div class="table-responsive container">
    <table class="table ware_sort_list">
        <tr>
            <td>日货商品分类:</td>
            <td>干果类</td>
            <td>零食</td>
            <td>纸巾</td>
            <td>日常用品</td>
            <td>生鲜</td>
            <td>二手商品</td>
        </tr>
    </table>
</div>

<div id="mall_carousel" class="carousel slide text-center" data-ride="carousel" style="width: 1200px;height:220px;margin:0 auto;">
    <ol class="carousel-indicators">
        <li data-target="#mall_carousel" data-slide-to="0"></li>
        <li data-target="#mall_carousel" data-slide-to="1"></li>
        <li data-target="#mall_carousel" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <img src="../imgs/mall_carousel1.jpg" alt="轮播第一张" style="margin:0 auto;">
        </div>
        <div class="item">
            <img src="../imgs/mall_carousel2.jpg" alt="轮播第二张" style="margin:0 auto;">
        </div>
        <div class="item">
            <img src="../imgs/mall_carousel3.jpg" alt="轮播第三张" style="margin:0 auto;">
        </div>
    </div>
    <a href="#mall_carousel" data-slide="prev" class="carousel-control left"><span class="glyphicon glyphicon-chevron-left"></span></a>
    <a href="#mall_carousel" data-slide="next" class="carousel-control right"><span class="glyphicon glyphicon-chevron-right"></span></a>
</div>
<br/>
<div class="container" ng-controller="mall">
    <div class="row">
        <div class="col-md-4  col-md-offset-4">
            <input type="text" class="form-control" placeholder="请输入商品名称进行查询" ng-model="search">
        </div>
    </div>
    <br/>
    <div class="row">
        <div class="col-sm-4 col-md-3" ng-repeat="ware in wares |filter:search">
            <div class="thumbnail">
                <button type="button" class="btn btn-default" data-toggle="modal" data-target="#ware_detail_modal" ng-click="show_ware_detail(ware._id)">
                    <img src="{{ware.photo}}"  alt="图片预览" style="width:220px;height:200px;display:block;"/>
                </button>
                <div class="caption text-center">
                    <h4 style="overflow: hidden;white-space: nowrap;text-overflow: ellipsis;">{{ware.name}}</h4>
                    <p>
                        <span>原价:</span><del>{{ware.original_price}}</del>&nbsp;&nbsp;&nbsp;&nbsp;
                        <span>现价:</span><strong style="color: #5CB85C; font-size: 18px;">{{ware.present_price}} </strong>元
                    </p>
                    <button type="button" class="btn btn-default" data-toggle="modal" data-target="#add_to_cart_modal" ng-click="add_to_cart(ware._id)">加入购物车</button>
                    <button type="button" class="btn btn-default" data-toggle="modal" data-target="#cycle_distribution_modal" ng-click="cycle_distribution(ware._id)">周期配送</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="add_to_cart_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">操作提示</h4>
            </div>
            <div class="modal-body">
                <p>商品添加成功</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" >继续购物</button>
                <button type="button" class="btn btn-success">去购物车</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="login_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">登录</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="username">用户名:</label>
                    <input type="text" class="form-control" id="username" placeholder="用户名/账号">
                </div>
                <div class="form-group">
                    <label for="password">密码:</label>
                    <input type="password" class="form-control" id="password" placeholder="Password">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-success">登录</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="register_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">注册</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label>用户名(手机号):
                        <input type="text" class="form-control" placeholder="用户名/账号">
                    </label>
                </div>
                <div class="form-group">
                    <label>密码:
                        <input type="password" class="form-control" placeholder="密码">
                    </label>
                </div>
                <div class="form-group">
                    <label>确认密码:
                        <input type="password" class="form-control" placeholder="确认密码">
                    </label>
                </div>
                <div class="form-group">
                    <label>手机号:
                        <input type="password" class="form-control" placeholder="手机号">
                    </label>
                </div>
                <div class="form-group">
                    <label>详细地址(请具体到门牌号):
                        <input type="password" class="form-control" placeholder="详细地址">
                    </label>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-success">注册</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="cycle_distribution_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">加入周期配送</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label>配送物品:
                        <input type="text" class="form-control" placeholder="配送物品" value="巧克力桶装1kg">
                    </label>
                    <label>数量:
                        <input type="text" class="form-control" placeholder="物品数量" value="1">
                    </label>
                </div>
                <div class="form-group">
                    <label>间隔周期:
                        <label>每隔</label>
                        <select class="form-control">
                            <option>一</option>
                            <option>二</option>
                            <option>三</option>
                            <option>四</option>
                            <option>五</option>
                            <option>六</option>
                            <option>日</option>
                        </select>周
                    </label>
                </div>
                <div class="form-group">
                    <label>收货人:
                        <input type="text" class="form-control" placeholder="收货人姓名" value="庄叶">
                    </label>
                </div>
                <div class="form-group">
                    <label>手机（联系方式）:
                        <input type="text" class="form-control" placeholder="手机号码" value="15652922740">
                    </label>
                </div>
                <div class="form-group">
                    <label>送货地址:
                        <textarea>北京市朝阳区北四环东路97号</textarea>
                    </label>
                </div>
                <div class="form-group">
                    <label>起始日期
                        <input type="text" class="form-control" placeholder="起始日期" value="2016-2-1">
                    </label>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-success">确定</button>
            </div>
        </div>
    </div>
</div>
<footer id="mall_footer" style="background-color: #F8F8F8;padding: 10px auto;">
    <div class="container text-center">
        <p>废品回收 | 百货购买 | 版权投诉</p>
        <p> © 2009-2016 废宝网. Powered by Bootstrap.</p>
    </div>
</footer>
<script src="../js/jquery-1.11.3.js"></script>
<script src="../js/bootstrap.js"></script>
<script src="../js/angular.js"></script>
<script src="../js/angular-route.js"></script>
<script type="text/javascript">
    var app =angular.module('feibao_mall',['ngRoute']);
    //回收废品
    app.controller('mall',function($rootScope,$scope,$http){
        $scope.wares =[];
//        $scope.bespeak_recycle_item ={};
//        $scope.waste_sort_detail ={};
//        $scope.cycle_recycle_item ={};
        $http({
            url:'/wares/findPut',
            method:'GET'
        }).success(function(wares){
//            alert(JSON.stringify(waste_sorts));
            $scope.wares =wares;
        });

//        //预约回收信息预填写
//        $scope.bespeak_recycle =function(id){
//            $('#waste_sort_detail_modal').modal('hide');
//            $http({
//                url:'/waste_sorts/findById',
//                method:'POST',
//                data:{
//                    id:id
//                }
//            }).success(function(bespeak_sort){
//                //预约回收分类名
//                $scope.bespeak_recycle_item.sort_name =bespeak_sort.name;
//                //预约回收状态
//                $scope.bespeak_recycle_item.state =1;
//                //预约回收用户信息
//                $scope.bespeak_recycle_item.user_id =$rootScope.activeUser._id;
//                $scope.bespeak_recycle_item.user_name =$rootScope.activeUser.name;
//                $scope.bespeak_recycle_item.user_phone =$rootScope.activeUser.phone;
//                $scope.bespeak_recycle_item.user_address =$rootScope.activeUser.address;
//            });
//
//        };
//        //添加用户预约回收
//        $scope.add_bespeak_recycle_item =function(){
//            $http({
//                url:'/bespeak_recycles/add',
//                method:'POST',
//                data:$scope.bespeak_recycle_item
//            }).success(function(bespeak_recycle){
//                $('#bespeak_recycle_modal').modal('hide');
//                $scope.bespeak_recycle_item ={};
//                alert('添加成功');
//
//            });
//        };
//
//        //周期回收信息预填写
//        $scope.cycle_recycle =function(id){
//            $('#waste_sort_detail_modal').modal('hide');
//            $http({
//                url:'/waste_sorts/findById',
//                method:'POST',
//                data:{
//                    id:id
//                }
//            }).success(function(cycle_sort){
//                //周期回收起始日期
//                var today =new Date();
//                $scope.cycle_recycle_item.begin_date =today.getFullYear() + '-' + (today.getMonth()+1) + '-' + today.getDate();
//                //周期回收分类名
//                $scope.cycle_recycle_item.sort_name =cycle_sort.name;
//                //周期回收状态
//                $scope.cycle_recycle_item.state =1;
//                //周期回收用户信息
//                $scope.cycle_recycle_item.user_id =$rootScope.activeUser._id;
//                $scope.cycle_recycle_item.user_name =$rootScope.activeUser.name;
//                $scope.cycle_recycle_item.user_phone =$rootScope.activeUser.phone;
//                $scope.cycle_recycle_item.user_address =$rootScope.activeUser.address;
//            });
//
//        };
//        //添加用户周期回收
//        $scope.add_cycle_recycle_item =function(){
//            $http({
//                url:'/cycle_recycles/add',
//                method:'POST',
//                data:$scope.cycle_recycle_item
//            }).success(function(cycle_recycle){
//                $('#cycle_recycle_modal').modal('hide');
//                $scope.cycle_recycle_item ={};
//                alert('添加成功');
//            });
//        }
//
//        //废品分类详情
//        $scope.show_waste_sort_detail =function(id){
//            $http({
//                url:'/waste_sorts/findById',
//                method:'POST',
//                data:{
//                    id:id
//                }
//            }).success(function(waste_sort){
//                $scope.waste_sort_detail =waste_sort;
//            });
//
//        };
    });




    //应用刷新检查是否登录
    app.run(function($rootScope,$http){
        $http({
            url:'/users/is_login',
            method:"POST",
        }).success(function (user) {
            $('#login_modal').modal('hide');
            $rootScope.activeUser =user;
        }).error(function(data){
            alert('您尚未登录，请先登录');
//            $('#login_modal').modal('show');
        });
    });

    //注册控制器
    app.controller('registerCtrl',function($scope,$http){
        $scope.register =function(){
            $http({
                url:'/users/register',
                method:"POST",
                data:$scope.user
            }).success(function (user) {
                $('#register_modal').modal('hide');
                alert('注册成功');
            }).error(function(data){
                alert('注册失败:'+data);
            });
        }
    });
    //登录控制器
    app.controller('loginCtrl',function($rootScope,$scope,$http){
        $scope.login =function(){
            $http({
                url:'/users/login',
                method:"POST",
                data:$scope.user
            }).success(function (user) {
                $('#login_modal').modal('hide');
                $rootScope.activeUser =user;
//                alert('登录成功');
            }).error(function(data){
                alert('登录失败:'+data);
            });
        }
    });

</script>
</body>
</html>