<!DOCTYPE html>
<html lang="zh-cn" ng-app="feibao_my_feibao">
<head>
    <meta charset="UTF-8">
    <title>废宝--我的废宝</title>
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" type="text/css" href="../css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="../css/style.css">
    <style type="text/css">
        .nav-tabs > li > a{
            color: #5cb85c;
        }
        .nav-tabs > li.active > a,.nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus{
            background-color: #5cb85c;
            color: #fcfcfc;
        }
    </style>
</head>
<body>
<div class="jumbotron">
    <h1>废宝--我的废宝</h1>
</div>
<nav class="navbar navbar-default">
    <div class="container">
        <div class="row">
            <div class="col-md-1">
                <a href="index.html" ><img src="../imgs/logo_h50.png" alt="logo" class="logo" style="width:100px;height:50px;"/></a>
            </div>
            <div class="col-md-6">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#indexNavbar">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <div class="collapse navbar-collapse" id="indexNavbar">
                    <ul class="nav navbar-nav">
                        <li><a href="index.html"><span class="glyphicon glyphicon-home"></span>  首页</a></li>
                        <li><a href="recycle_waste.html"><span class="glyphicon glyphicon-refresh"></span>  废品回收</a></li>
                        <li><a href="mall.html"><span class="glyphicon glyphicon-shopping-cart"></span>  日常百货</a></li>
                        <li><a href="article.html"><span class="glyphicon glyphicon-book"></span>  环保知识</a></li>
                        <li  class="active"><a href="my_feibao.html"><span class="glyphicon glyphicon-user"></span>  我的废宝</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-5" style="padding-top:8px; ">
                <div style="width: 150px;display: inline;" class="pull-right">
                    <div class="btn-group" role="group" ng-hide="activeUser">
                        <button type="button" class="btn btn-default" data-toggle="modal" data-target="#login_modal">登录</button>
                        <button type="button" class="btn btn-default" data-toggle="modal" data-target="#register_modal">注册</button>
                    </div>
                    <div ng-show="activeUser" style="padding-top:4px; ">
                        <span>你好:</span>
                        <span class="text-success">{{activeUser.name}}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>

<div class="container" ng-controller="my_feibao">
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a href="#bespeak_recycle" aria-controls="home" role="tab" data-toggle="tab">预约回收</a></li>
        <li role="presentation"><a href="#cycle_recycle" aria-controls="home" role="tab" data-toggle="tab">周期回收</a></li>
        <li role="presentation"><a href="#my_order" aria-controls="profile" role="tab" data-toggle="tab">我的订单</a></li>
        <li role="presentation"><a href="#cycle_distribution" aria-controls="home" role="tab" data-toggle="tab">周期配送</a></li>
        <li role="presentation"><a href="#change_password" aria-controls="messages" role="tab" data-toggle="tab">修改密码</a></li>
        <li role="presentation"><a href="#personal_information" aria-controls="settings" role="tab" data-toggle="tab">个人信息</a></li>
    </ul>
    <div class="tab-content" style="min-height:600px; ">
        <div role="tabpanel" class="tab-pane active" id="bespeak_recycle">
            <div class="table-responsive text-center container">
                <table class="table table-bordered table-hover">
                    <caption>预约回收</caption>
                    <thead>
                        <td>日期</td>
                        <td>时间</td>
                        <td>类型</td>
                        <td>大致重量</td>
                        <td>是否有效</td>
                        <td>取消预约回收</td>
                    </thead>
                    <tr ng-repeat="bespeak_recycle in bespeak_recycles | orderBy: '-date'">
                        <td>{{bespeak_recycle.date}}</td>
                        <td>{{bespeak_recycle.time}}</td>
                        <td>{{bespeak_recycle.sort_name}}</td>
                        <td>{{bespeak_recycle.weight}} kg</td>
                        <td>
                            <span ng-hide="bespeak_recycle.state ==2">{{bespeak_recycle.date | is_date_enabled | show_date_enabled}}</span>
                            <span ng-show="bespeak_recycle.state ==2">已取消</span>
                        </td>
                        <!--//预约回收状态0:表示未回收,1表示日期过了失效,2表示取消,3表示已回收-->
                        <td><button class="btn btn-default" ng-disabled="bespeak_recycle.state ==2" ng-click="cancel_bespeak_recycle(bespeak_recycle._id)">取消</button></td>
                    </tr>
                </table>
            </div>
        </div>
        <div role="tabpanel" class="tab-pane" id="cycle_recycle">
            <div class="table-responsive text-center container">
                <table class="table table-bordered table-hover">
                    <caption>周期回收</caption>
                    <thead>
                        <td>起始日期</td>
                        <td>间隔</td>
                        <td>时间</td>
                        <td>类型</td>
                        <td>是否有效</td>
                        <td>取消周期回收</td>
                    </thead>
                    <tr ng-repeat="cycle_recycle in cycle_recycles | orderBy: '-begin_date'">
                        <td>{{cycle_recycle.begin_date}}</td>
                        <td>{{cycle_recycle.interval}}</td>
                        <td>{{cycle_recycle.time}}</td>
                        <td>{{cycle_recycle.sort_name}}</td>
                        <td>
                            <span ng-show="cycle_recycle.state ==2">已取消</span>
                            <span ng-hide="cycle_recycle.state ==2">有效</span>
                        </td>
                        <!--//预约回收状态0:表示未回收,1表示日期过了失效,2表示取消,3表示已回收-->
                        <td><button class="btn btn-default" ng-disabled="cycle_recycle.state ==2" ng-click="cancel_cycle_recycle(cycle_recycle._id)">取消</button></td>
                    </tr>
                </table>
            </div>
        </div>
        <div role="tabpanel" class="tab-pane" id="my_order">
            <div class="table-responsive text-center container">
                <table class="table table-bordered table-hover">
                    <caption>我的订单</caption>
                    <thead>
                    <td>订单日期</td>
                    <td>购买商品</td>
                    <td>总数量</td>
                    <td>总价格</td>
                    <td>收货人</td>
                    <td>手机</td>
                    <td>地址</td>
                    <td>订单状态</td>
                    <td>物流信息</td>
                    <td>操作</td>
                    </thead>
                    <tr ng-repeat="order in orders">
                        <td>{{order.date}}</td>
                        <td><div ng-repeat="ware in order.wares">{{ware.ware_name}} ({{ware.quantity}})</div></td>
                        <td>{{order.amount}}</td>
                        <td>{{order.total_price}}元</td>
                        <td>{{order.contact_name}}</td>
                        <td>{{order.contact_phone}}</td>
                        <td>{{order.contact_address}}</td>
                        <td>{{order.state}}</td>
                        <td><a href="#">物流详情</a></td>
                        <td><button class="btn btn-default" ng-disabled="order.state >1" ng-click="cancel_order(order._id)">取消</button></td>
                    </tr>
                </table>
            </div>
        </div>
        <div role="tabpanel" class="tab-pane" id="cycle_distribution">
            <div class="table-responsive text-center container">
                <table class="table table-bordered table-hover">
                    <caption>周期配送</caption>
                    <thead>
                        <td>起始日期</td>
                        <td>间隔</td>
                        <td>配送物品</td>
                        <td>配送数量</td>
                        <td>总价格</td>
                        <td>付款方式</td>
                        <td>收货人</td>
                        <td>手机</td>
                        <td>收货地址</td>
                        <td>是否有效</td>
                        <td>取消配送</td>
                    </thead>
                    <tr ng-repeat="cycle_distribution in cycle_distributions">
                        <td>{{cycle_distribution.begin_date}}</td>
                        <td>{{cycle_distribution.interval}}</td>
                        <td><div ng-repeat="ware in cycle_distribution.wares">{{ware.name}} ({{ware.quantity}}})</div></td>
                        <td>{{cycle_distribution.amount}}</td>
                        <td>{{cycle_distribution.total_price}}</td>
                        <td>货到付款</td>
                        <td>{{cycle_distribution.contact_name}}</td>
                        <td>{{cycle_distribution.contact_phone}}</td>
                        <td>{{cycle_distribution.contact_address}}</td>
                        <td>
                            <span ng-show="cycle_distribution.state ==2">已取消</span>
                            <span ng-hide="cycle_distribution.state ==2">有效</span>
                        </td>
                        <td><button class="btn btn-default" ng-disabled="cycle_distribution.state ==2" ng-click="cancel_cycle_distribution(cycle_distribution._id)">取消</button></td>
                    </tr>
                </table>
            </div>
        </div>
        <div role="tabpanel" class="tab-pane" id="change_password">
            <div class="table-responsive text-center container">
                <br/>
                <form name="change_password_form" novalidate ng-submit="change_password()">
                    <div class="form-group row"  ng-class="{'has-error':change_password_form.old_password.$dirty && change_password_form.old_password.$invalid}">
                        <label  class="col-sm-3 col-md-3 control-label">原密码:</label>
                        <div class="col-sm-6 col-md-6">
                            <input type="text" class="form-control" name="old_password" placeholder="6-20位数字字母" ng-model="user.old_password" ng-pattern="/^(?![0-9]+$)(?![a-zA-Z]+$)[0-9A-Za-z]{6,20}$/" ng-required>
                        </div>
                        <div class="help-block col-sm-3 col-md-3" ng-show="change_password_form.old_password.$dirty && change_password_form.old_password.$invalid">
                            <span class="text-danger" ng-show="change_password_form.old_password.$error.required">密码不能为空</span>
                            <span class="text-danger" ng-show="change_password_form.old_password.$error.pattern">6-20位数字字母</span>
                        </div>
                    </div>
                    <div class="form-group row"  ng-class="{'has-error':change_password_form.new_password.$dirty && change_password_form.new_password.$invalid}">
                        <label  class="col-sm-3 col-md-3 control-label">新密码:</label>
                        <div class="col-sm-6 col-md-6">
                            <input type="text" class="form-control" name="new_password" placeholder="6-20位数字字母" ng-model="user.new_password" ng-pattern="/^(?![0-9]+$)(?![a-zA-Z]+$)[0-9A-Za-z]{6,20}$/" ng-required>
                        </div>
                        <div class="help-block col-sm-3 col-md-3" ng-show="change_password_form.new_password.$dirty && change_password_form.new_password.$invalid">
                            <span class="text-danger" ng-show="change_password_form.new_password.$error.required">密码不能为空</span>
                            <span class="text-danger" ng-show="change_password_form.new_password.$error.pattern">6-20位数字字母</span>
                        </div>
                    </div>
                    <div class="form-group row" ng-class="{'has-error':change_password_form.re_password.$dirty && change_password_form.re_password.$invalid}">
                        <label  class="col-sm-3 col-md-3 control-label">确认密码:</label>
                        <div class="col-sm-6 col-md-6">
                            <input type="text" class="form-control" name="re_password" placeholder="请再输入一次密码" ng-model="user.re_password" ng-pattern="/^(?![0-9]+$)(?![a-zA-Z]+$)[0-9A-Za-z]{6,20}$/" ng-required>
                        </div>
                        <div class="help-block col-sm-3 col-md-3" ng-show="change_password_form.re_password.$dirty && change_password_form.re_password.$invalid">
                            <span class="text-danger" ng-show="change_password_form.re_password.$error.required">确认密码不能为空</span>
                            <span class="text-danger" ng-show="change_password_form.re_password.$error.pattern">6-20位数字字母</span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <button type="submit" class="btn btn-success btn-block" style="font-size: 20px;" ng-disabled="change_password_form.$invalid || user.new_password != user.re_password" >确认修改</button>
                    </div>
                </form>
            </div>
        </div>
        <div role="tabpanel" class="tab-pane" id="personal_information">
            <div class="text-center container">
                <br/>
                <form name="user_information_form" ng-submit="change_information()">
                    <div class="form-group row">
                        <label class="col-md-3 control-label">用户名:</label>
                        <div class="col-md-6">
                            <input type="text" class="form-control"  ng-model="activeUser.name" readonly>
                        </div>
                    </div>
                    <div class="form-group row" ng-class="{'has-error':user_information_form.phone.$dirty && user_information_form.phone.$invalid}">
                        <label  class="col-sm-3 col-md-3 control-label">手机号:</label>
                        <div class="col-sm-6 col-md-6">
                            <input type="text" class="form-control" name="phone" id="phone" ng-model="activeUser.phone" ng-pattern="/^(13[0-9]|15[012356789]|17[678]|18[0-9]|14[57])[0-9]{8}$/" ng-required readonly>
                        </div>
                        <div class="help-block col-sm-3 col-md-3" ng-show="user_information_form.phone.$dirty && user_information_form.phone.$invalid">
                            <span class="text-danger" ng-show="user_information_form.phone.$error.required">手机号不能为空</span>
                            <span class="text-danger" ng-show="user_information_form.phone.$error.pattern">请填写正确手机号</span>
                        </div>
                    </div>
                    <div class="form-group row" ng-class="{'has-error':user_information_form.address.$dirty && user_information_form.address.$invalid}">
                        <label  class="col-sm-3 col-md-3 control-label">详细地址:</label>
                        <div class="col-sm-6 col-md-6">
                            <input type="text" class="form-control" name="address" id="address" ng-model="activeUser.address" ng-required readonly>
                        </div>
                        <div class="help-block col-sm-3 col-md-3" ng-show="user_information_form.phone.$dirty && user_information_form.phone.$invalid">
                            <span class="text-danger" ng-show="user_information_form.phone.$error.required">详细地址不能为空</span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <button type="button" class="btn btn-default" ng-click="edit_information()">修改信息</button>
                        <button type="submit" class="btn btn-default" ng-disabled="register_form.$invalid || user.password != user.repassword">确认修改</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<footer id="mall_footer" style="background-color: #F8F8F8;padding: 10px auto;">
    <div class="container text-center">
        <p>废品回收 | 百货购买 | 版权投诉</p>
        <p> © 2009-2016 废宝网. Powered by Bootstrap.</p>
    </div>
</footer>
<script src="../js/jquery-1.11.3.js"></script>
<script src="../js/bootstrap.js"></script>
<script src="../js/angular.js"></script>
<script src="../js/angular-route.js"></script>
<script type="text/javascript">
    var app =angular.module('feibao_my_feibao',['ngRoute']);
    //废宝商城
    app.controller('my_feibao',function($rootScope,$scope,$http){
        $scope.bespeak_recycles =[];//预约回收
        $scope.cycle_recycles =[];//周期回收
        $scope.orders =[];//我的订单
        $scope.cycle_distributions =[];//周期配送
        $rootScope.activeUser ={};
        //获取当前用户
        $http({
            url:'/users/is_login',
            method:"POST"
        }).success(function (user) {//成功之后获取该用户数据
            $rootScope.activeUser =user;
            //根据用户id获取预约回收
            $http({
                url:'/bespeak_recycles/find_by_user_id',
                method:"POST",
                data:{
                    user_id:$rootScope.activeUser._id
                }
            }).success(function (bespeak_recycles) {
//                alert(JSON.stringify(bespeak_recycles));
                $scope.bespeak_recycles =bespeak_recycles;
            }).error(function(){
                alert('获取预约回收记录失败');
            });
            //根据用户id获取周期回收
            $http({
                url:'/cycle_recycles/find_by_user_id',
                method:"POST",
                data:{
                    user_id:$rootScope.activeUser._id
                }
            }).success(function (cycle_recycles) {
                $scope.cycle_recycles =cycle_recycles;
            }).error(function(){
                alert('获取周期回收记录失败');
            });
            //根据用户id获取订单
            $http({
                url:'/orders/find_by_user_id',
                method:"POST",
                data:{
                    user_id:$rootScope.activeUser._id
                }
            }).success(function (orders) {
                $scope.orders =orders;
            }).error(function(){
                alert('获取订单记录失败');
            });
            //获取所有周期配送
            $http({
                url:'/cycle_distributions/find_by_user_id',
                method:"POST",
                data:{
                    user_id:$rootScope.activeUser._id
                }
            }).success(function (cycle_distributions) {
                $scope.cycle_distributions =cycle_distributions;
            }).error(function(){
                alert('获取周期配送记录失败');
            });
        }).error(function(data){
            alert('您尚未登录，请先登录');
        });

        //取消预约回收
        $scope.cancel_bespeak_recycle =function(bespeak_recycle_id){
            $http({
                url:'/bespeak_recycles/cancel_bespeak_recycle',
                method:"POST",
                data:{
                    id:bespeak_recycle_id,
                    user_id:$rootScope.activeUser._id
                }
            }).success(function (bespeak_recycles) {
                $scope.bespeak_recycles =bespeak_recycles;
            }).error(function(){
                alert('取消预约回收失败');
            });
        };
        //取消周期回收
        $scope.cancel_cycle_recycle =function(cycle_recycle_id){
            $http({
                url:'/cycle_recycles/cancel_cycle_recycle',
                method:"POST",
                data:{
                    id:cycle_recycle_id,
                    user_id:$rootScope.activeUser._id
                }
            }).success(function (cycle_recycles) {
                $scope.cycle_recycles =cycle_recycles;
            }).error(function(){
                alert('取消周期回收失败');
            });
        };
        //取消周期配送
        $scope.cancel_cycle_distribution =function(cycle_distribution_id){
            $http({
                url:'/cycle_distributions/cancel_cycle_distribution',
                method:"POST",
                data:{
                    id:cycle_distribution_id,
                    user_id:$rootScope.activeUser._id
                }
            }).success(function (cycle_distributions) {
                $scope.cycle_distributions =cycle_distributions;
            }).error(function(){
                alert('取消周期回收失败');
            });
        };

        //取消订单
        $scope.cancel_order =function(order_id){
            $http({
                url:'/orders/cancel_order',
                method:"POST",
                data:{
                    id:order_id,
                    user_id:$rootScope.activeUser._id
                }
            }).success(function (orders) {
                $scope.orders =orders;
            }).error(function(){
                alert('取消订单失败');
            });
        };
        //修改密码
        $scope.change_password =function(){
            $http({
                url:'/users/change_password',
                method:"POST",
                data:{
                    user_id:$rootScope.activeUser._id,
                    user:$scope.user
                }
            }).success(function (user) {
                if(user){
                    alert('修改密码成功');
                }
            }).error(function(){
                alert('修改密码失败');
            });
        };
        //编辑用户信息
        $scope.edit_information =function(){
            $('#phone').removeAttr('readonly');
            $('#address').removeAttr('readonly');
        };
        //确认修改信息
        $scope.change_information =function(){
//            alert($rootScope.activeUser.address);
            $http({
                url:'/users/change_information',
                method:"POST",
                data:{
                    user_id:$rootScope.activeUser._id,
                    user_phone:$rootScope.activeUser.phone,
                    user_address:$rootScope.activeUser.address
                }
            }).success(function (user) {
                if(user){
                    $rootScope.activeUser.phone =user.phone;
                    $rootScope.activeUser.address =user.address;
                    alert('修改信息成功');
                }
            }).error(function(){
                alert('修改信息失败');
            });
        };

    });
    //判断用户是否的日期是否大于当前日期
    app.filter('is_date_enabled', function() {
        return function(bespeak_date) {

            var tdate =new Date();
            var nowDate =tdate.getFullYear()+'-'+(tdate.getMonth()+1)+'-'+tdate.getDate();
//            alert(bespeak_date+',,,'+nowDate);
            if(nowDate <bespeak_date){
                return 1;//有效
            }else{
                return 0;//无效
            }
        }
    });
    //判断用户是否的日期是否大于当前日期
    app.filter('show_date_enabled', function() {
        return function(is_enabled) {
            if(is_enabled ==1){
                return '有效';//有效
            }else{
                return '无效';//无效
            }
        }
    });
    //应用刷新检查是否登录
    app.run(function($rootScope,$http){
        $http({
            url:'/users/is_login',
            method:"POST"
        }).success(function (user) {
//            alert(JSON.stringify(user));
            $rootScope.activeUser =user;
        }).error(function(data){
            alert('您尚未登录，请先登录');
//            $('#login_modal').modal('show');
        });
    });
</script>
</body>
</html>