<!DOCTYPE HTML>
<html lang="zh-cn">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no" />
    <title>废宝--废品分类详情</title>
    <link rel="stylesheet" type="text/css" href="../public/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="../public/css/style.css">
    <style type="text/css" rel="stylesheet">
        .tooltip-inner{
          background-color: #5CB85C;
        }
    </style>
</head>
<body>
<div class="jumbotron">
    <h1>Hello, world!</h1>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-3">
            <a href="index.html" ><img src="../public/imgs/logo_h50.png" alt="logo" class="logo"/></a>
        </div>
        <div class="col-md-6">
            <form class="form-inline pull-left">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="请输入废品类别">
                    <button type="submit" class="btn btn-default">搜索</button>
                </div>
            </form>
            <div class="btn-group pull-right" role="group">
                <a class="btn btn-default" href="recycle_waste_my_recycle.html">我的回收</a>
                <button type="button" class="btn btn-default" data-toggle="tooltip" data-placement="bottom" title="23">我的余额</button>
            </div>
        </div>
        <div class="col-md-3">
            <div class="btn-group" role="group">
                <button type="button" class="btn btn-default" data-toggle="modal" data-target="#login_modal">登录</button>
                <button type="button" class="btn btn-default" data-toggle="modal" data-target="#register_modal">注册</button>
            </div>
        </div>
    </div>
</div>
<nav class="navbar navbar-default">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#indexNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse" id="indexNavbar">
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> 回收类别<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#"> 手机平板</a></li>
                        <li><a href="#"> 电脑家电</a></li>
                        <li><a href="#"> 电子产品</a></li>
                        <li><a href="#"> 饮料瓶</a></li>
                        <li><a href="#"> 纸张报纸</a></li>
                        <li><a href="#"> 衣服鞋子</a></li>
                    </ul>
                </li>
                <li><a href="index.html"><span class="glyphicon glyphicon-home"></span>  首页</a></li>
                <li class="active"><a href="recycle_waste.html"><span class="glyphicon glyphicon-list"></span>  废品回收</a></li>
                <li><a href="mall.html"><span class="glyphicon glyphicon-fire"></span>  日常百货</a></li>
                <li><a href="article.html"><span class="glyphicon glyphicon-fire"></span>  环保知识</a></li>
                <li><a href="my_feibao.html"><span class="glyphicon glyphicon-question-sign"></span>  我的废宝</a></li>
            </ul>
        </div>

    </div>
</nav>

<div class="container">
    <div class="media">
        <div class="media-left">
            <a href="#">
                <img class="media-object" src="../public/imgs/recycle_waste_category_mobile_detail.jpg" width="400" height="300" alt="手机平板分类大图">
            </a>
        </div>
        <div class="media-body">
            <h4 class="media-heading">回收手机平板</h4>
            <div>回收价格:<label>100-6000/台</label></div>
            <div>回收物品:<label>废旧手机，闲置手机，废旧平板</label></div>
            <div>回收用途:<label>拆解回收电池，电线，贵金属等</label></div>
            <div>
                <button type="button" class="btn btn-default" data-toggle="modal" data-target="#bespeak_recycle_modal">预约回收</button>
                <button type="button" class="btn btn-default" data-toggle="modal" data-target="#cycle_recycle_modal">周期回收</button>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="bespeak_recycle_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">预约回收废品</h4>
            </div>
            <div class="modal-body">
                <label>请选择日期</label>
                <input type="text" placeholder="请输入上门回收日期"><br>
                <label>请选择时间</label>
                <select class="form-control">
                    <option>8:00-10:00</option>
                    <option>10:00-12:00</option>
                    <option>12:00-14:00</option>
                    <option>14:00-16:00</option>
                    <option>16:00-18:00</option>
                    <option>18:00-20:00</option>
                </select>
                <div class="form-group">
                    <label>废品类型:
                        <input type="text" class="form-control" placeholder="收货人姓名" value="手机平板">
                    </label>
                </div>
                <label>大致重量：</label>
                <select class="form-control">
                    <option>1kg</option>
                    <option>2kg</option>
                    <option>3kg</option>
                    <option>4kg</option>
                    <option>5kg</option>
                </select>
                <div class="form-group">
                    <label>联系人:
                        <input type="text" class="form-control" placeholder="收货人姓名" value="庄叶">
                    </label>
                </div>
                <div class="form-group">
                    <label>手机（联系方式）:
                        <input type="text" class="form-control" placeholder="手机号码" value="15652922740">
                    </label>
                </div>
                <div class="form-group">
                    <label>详细地址:
                        <textarea>北京市朝阳区北四环东路97号</textarea>
                    </label>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-success">确认</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="cycle_recycle_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">周期回收</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label>间隔周期:
                        <label>每隔</label>
                        <select class="form-control">
                            <option>一</option>
                            <option>二</option>
                            <option>三</option>
                            <option>四</option>
                            <option>五</option>
                            <option>六</option>
                            <option>日</option>
                        </select>周
                    </label>
                </div>
                <div class="form-group">
                    <label>回收物品:
                        <input type="text" class="form-control" placeholder="配送物品" value="纸张报纸">
                    </label>
                    <label>大致数量:
                        <input type="text" class="form-control" placeholder="物品数量" value="1kg">
                    </label>
                </div>

                <div class="form-group">
                    <label>联系人:
                        <input type="text" class="form-control" placeholder="收货人姓名" value="庄叶">
                    </label>
                </div>
                <div class="form-group">
                    <label>手机（联系方式）:
                        <input type="text" class="form-control" placeholder="手机号码" value="15652922740">
                    </label>
                </div>
                <div class="form-group">
                    <label>详细地址:
                        <textarea>北京市朝阳区北四环东路97号</textarea>
                    </label>
                </div>
                <div class="form-group">
                    <label>起始日期
                        <input type="text" class="form-control" placeholder="起始日期" value="2016-2-1">
                    </label>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="login_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">登录</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="username">用户名:</label>
                    <input type="text" class="form-control" id="username" placeholder="用户名/账号">
                </div>
                <div class="form-group">
                    <label for="password">密码:</label>
                    <input type="password" class="form-control" id="password" placeholder="Password">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-success">登录</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="register_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">登录</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label>用户名(手机号):
                        <input type="text" class="form-control" placeholder="用户名/账号">
                    </label>
                </div>
                <div class="form-group">
                    <label>密码:
                        <input type="password" class="form-control" placeholder="密码">
                    </label>
                </div>
                <div class="form-group">
                    <label>确认密码:
                        <input type="password" class="form-control" placeholder="确认密码">
                    </label>
                </div>
                <div class="form-group">
                    <label>手机号:
                        <input type="password" class="form-control" placeholder="手机号">
                    </label>
                </div>
                <div class="form-group">
                    <label>详细地址(请具体到门牌号):
                        <input type="password" class="form-control" placeholder="详细地址">
                    </label>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-success">注册</button>
            </div>
        </div>
    </div>
</div>
</body>
<script src="../public/js/jquery-1.11.3.js"></script>
<script src="../public/js/bootstrap.js"></script>
<script type="text/javascript">
    $(function () {
        $('[data-toggle="tooltip"]').tooltip({
            trigger:"click"
        })
    })


</script>
</html>