@charset "UTF-8";
body{
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
#index_top_ad{
    width: 100%;
    background-color: #5cb85c;
}
#index_navbar{
    width: 100%;
}
#index_navbar .container{
    width: 1080px;
}


#index_footer {
    background-color: #F8F8F8;
    border-top: 1px solid #ccc;
    padding: 20px;
    text-align: center;
    color: #666;
}