<!DOCTYPE html>
<html lang="zh-cn" ng-app="feibao_claim_task">
<head>
    <meta charset="UTF-8">
    <title>废宝--领取任务</title>
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" href="../../css/bootstrap.css" />
    <link rel="stylesheet" href="../../css/index.css" />
    <link rel="stylesheet" href="../../css/style.css" />
    <link rel="stylesheet" href="../../css/admin/style.css" />

</head>
<body>
<div class="jumbotron">
    <h1>废宝--领取任务</h1>
</div>

<!--<nav class="navbar navbar-default">-->
    <!--<div class="container">-->
        <!--<div class="navbar-header">-->
            <!--<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#indexNavbar">-->
                <!--<span class="icon-bar"></span>-->
                <!--<span class="icon-bar"></span>-->
                <!--<span class="icon-bar"></span>-->
            <!--</button>-->
        <!--</div>-->
        <!--<div class="collapse navbar-collapse" id="indexNavbar">-->
            <!--<ul class="nav navbar-nav">-->
                <!--<li><a href="recycle_waste_manage.html"><span class="glyphicon glyphicon-refresh"></span> 废品回收</a></li>-->
                <!--<li><a href="mall_manage.html"><span class="glyphicon glyphicon-shopping-cart"></span> 网上商场</a></li>-->
            <!--</ul>-->
        <!--</div>-->
    <!--</div>-->
<!--</nav>-->


<div class="container" ng-controller="claim_task">
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation"  class="active"><a href="#bespeak_recycle_waste" aria-controls="bespeak_recycle_waste" role="tab" data-toggle="tab">今日预约回收</a></li>
        <li role="presentation"><a href="#cycle_recycle_waste" aria-controls="cycle_recycle_waste" role="tab" data-toggle="tab">今日周期回收</a></li>
        <li role="presentation"><a href="#mall_order" aria-controls="mall_order" role="tab" data-toggle="tab">未处理订单</a></li>
        <li role="presentation"><a href="#mall_distribution" aria-controls="mall_distribution" role="tab" data-toggle="tab">今日周期配送</a></li>
    </ul>

    <div class="tab-content">
        <!--今日预约回收-->
        <div role="tabpanel" class="tab-pane active" id="bespeak_recycle_waste">
            <table class="table table-bordered table-hover text-center">
                <caption>今日需上门回收的预约</caption>
                <thead>
                    <td>日期</td>
                    <td>时间</td>
                    <td>废品类型</td>
                    <td>大致重量</td>
                    <td>联系人</td>
                    <td>手机</td>
                    <td>详细地址</td>
                    <td>预约用户</td>
                    <td>预约状态</td>
                    <td>回收者</td>
                    <td>操作</td>
                </thead>
                <tr ng-repeat="bespeak_recycle in unclaim_bespeak_recycles">
                    <td>{{bespeak_recycle.date}}</td>
                    <td>{{bespeak_recycle.time}}</td>
                    <td>{{bespeak_recycle.sort_name}}</td>
                    <td>{{bespeak_recycle.weight}}</td>
                    <td>{{bespeak_recycle.contact_name}}</td>
                    <td>{{bespeak_recycle.contact_phone}}</td>
                    <td>{{bespeak_recycle.contact_address}}</td>
                    <td>{{bespeak_recycle.user_name}}</td>
                    <td>
                        <span ng-show="bespeak_recycle.state ==0">未回收</span>
                        <span ng-show="bespeak_recycle.state !=0">已回收或取消</span>
                    </td>
                    <td><input class="form-control form-inline" ng-model="bespeak_recycle.job_number" placeholder="输入工作号领取任务"></td>
                    <td><button class="btn btn-default" ng-disabled="!bespeak_recycle.job_number" ng-click="claim_bespeak_recycle(bespeak_recycle._id,$index)">领取</button></td>
                </tr>
            </table>
        </div>
        <!--今日周期回收-->
        <div role="tabpanel" class="tab-pane text-center" id="cycle_recycle_waste">
            <table class="table table-bordered table-hover text-center">
                <caption>今日需上门的周期回收</caption>
                <thead>
                    <td>开始日期</td>
                    <td>时间</td>
                    <td>间隔</td>
                    <td>上次回收日期</td>
                    <td>废品类型</td>
                    <td>大致重量</td>
                    <td>联系人</td>
                    <td>手机</td>
                    <td>详细地址</td>
                    <td>间隔时间</td>
                    <td>回收状态</td>
                    <td>回收者</td>
                    <td>操作</td>
                </thead>
                <tr ng-repeat="cycle_recycle in today_unclaim_cycle_recycles">
                    <td>2016-1-26</td>
                    <td>8:00-10:00</td>
                    <td>手机平板,电脑家电</td>
                    <td>20kg</td>
                    <td>庄叶</td>
                    <td>15652922740</td>
                    <td>北京市朝阳区北四环东路97号</td>
                    <td>4周</td>
                    <td>未回收</td>
                    <td><input class="form-control form-inline" placeholder="上门回收人姓名"></td>
                    <td><button class="btn btn-default">派人上门</button></td>
                </tr>

            </table>
        </div>
        <!--未发货订单-->
        <div role="tabpanel" class="tab-pane text-center" id="mall_order">
            <table class="table table-bordered table-hover">
                <caption>未发货订单</caption>
                <thead>
                <td>时间</td>
                <td>订单号</td>
                <td>商品</td>
                <td>数量</td>
                <td>总价格</td>
                <td>收货人</td>
                <td>手机</td>
                <td>地址</td>
                <td>订单状态</td>
                <td>操作</td>
                </thead>
                <tr>
                    <td>2016-1-2</td>
                    <td>2345876599</td>
                    <td>巧克力盒装500g</td>
                    <td>2</td>
                    <td>200元</td>
                    <td>庄叶</td>
                    <td>15652922740</td>
                    <td>北京市朝阳区北四环东路97号</td>
                    <td>未发货已付款</td>
                    <td><button class="btn btn-default">发货</button></td>
                </tr>
                <tr>
                    <td>2016-1-2</td>
                    <td>2345876599</td>
                    <td>清风纸巾9包装200抽</td>
                    <td>1</td>
                    <td>20元</td>
                    <td>庄叶</td>
                    <td>15652922740</td>
                    <td>北京市朝阳区北四环东路97号</td>
                    <td>未发货已付款</td>
                    <td><button class="btn btn-default">发货</button></td>
                </tr>
                <tr>
                    <td>2016-1-2</td>
                    <td>2345876599</td>
                    <td>中粮大米50kg</td>
                    <td>1</td>
                    <td>300元</td>
                    <td>庄叶</td>
                    <td>15652922740</td>
                    <td>北京市朝阳区北四环东路97号</td>
                    <td>未发货已付款</td>
                    <td><button class="btn btn-default">发货</button></td>
                </tr>
            </table>
        </div>
        <!--未处理周期配送-->
        <div role="tabpanel" class="tab-pane text-center" id="mall_distribution">
            <table class="table table-bordered table-hover">
                <caption>今日周期配送</caption>
                <thead>
                <td>时间</td>
                <td>配送单号</td>
                <td>商品</td>
                <td>总数量</td>
                <td>总价格</td>
                <td>收货人</td>
                <td>手机</td>
                <td>地址</td>
                <td>配送状态</td>
                <td>操作</td>
                </thead>
                <tr>
                    <td>2016-1-26</td>
                    <td>2345876599</td>
                    <td>巧克力盒装500g【1】<br>
                        金典牛奶6盒装【1】</td>

                    <td>2</td>
                    <td>200元</td>
                    <td>庄叶</td>
                    <td>15652922740</td>
                    <td>北京市朝阳区北四环东路97号</td>
                    <td>未配送</td>
                    <td><button class="btn btn-default">配送</button></td>
                </tr>
                <tr>
                    <td>2016-1-26</td>
                    <td>2345876599</td>
                    <td>清风纸巾9包装200抽【1】</td>
                    <td>1</td>
                    <td>20元</td>
                    <td>庄叶</td>
                    <td>15652922740</td>
                    <td>北京市朝阳区北四环东路97号</td>
                    <td>未配送</td>
                    <td><button class="btn btn-default">配送</button></td>
                </tr>
                <tr>
                    <td>2016-1-26</td>
                    <td>2345876599</td>
                    <td>中粮大米50kg【1】</td>
                    <td>1</td>
                    <td>300元</td>
                    <td>庄叶</td>
                    <td>15652922740</td>
                    <td>北京市朝阳区北四环东路97号</td>
                    <td>未配送</td>
                    <td><button class="btn btn-default">配送</button></td>
                </tr>
            </table>
        </div>
    </div>
</div>



</body>
<script src="../../js/jquery-1.11.3.js"></script>
<script src="../../js/bootstrap.js"></script>
<script src="../../js/angular.js"></script>
<script src="../../js/angular-route.js"></script>
<script type="text/javascript">
    var app =angular.module('feibao_claim_task',['ngRoute']);
    app.controller('claim_task',function($scope,$http){
        $scope.unclaim_bespeak_recycles =[];//未处理预约回收
        $scope.all_unclaim_cycle_recycles = [];//所有未处理周期回收
        $scope.today_unclaim_cycle_recycles = [];//今日未处理周期回收
        //获取今天所有未处理的预约回收
        $http({
            url:'/bespeak_recycles/find_unclaim',
            method:'GET'
        }).success(function(unclaim_bespeak_recycles){
            $scope.unclaim_bespeak_recycles =unclaim_bespeak_recycles;
        });

        //获取所有未处理的周期回收state==0
        $http({
            url: '/cycle_recycles/find_all_unclaim',
            method: 'GET'
        }).success(function (all_unclaim_cycle_recycles) {
            $scope.all_unclaim_cycle_recycles = all_unclaim_cycle_recycles;

        });
        var today =new Date();
        today =today.getFullYear() + '-' + (today.getMonth()+1) + '-' + today.getDate();
        //根据间隔计算今日需要上门的周期回收
        angular.forEach($scope.all_unclaim_cycle_recycles,function(unclaim_cycle_recycle,key){
            var is_today =$scope.getNextDate(unclaim_cycle_recycle.last_date,unclaim_cycle_recycle.interval);
            if(is_today ==today){
                $scope.today_unclaim_cycle_recycles.push(unclaim_cycle_recycle);
            }
        });



        //领取预约回收
        $scope.claim_bespeak_recycle =function(id,index){
            //将对应的预约回收的状态改为1已领取
            $http({
                url:'/bespeak_recycles/claim',
                method:'POST',
                data:{
                    id:id
                }
            }).success(function(untreated_bespeak_recycles){
                $scope.untreated_bespeak_recycles =untreated_bespeak_recycles;
            });
        };

        //日期加上天数得到新的日期
        $scope.getNextDate =function(dateTemp, days) {
            var beginDate = dateTemp.split("-");
            var millSeconds =  (new Date(beginDate[0] + '/' + beginDate[1] + '/' + beginDate[2])).getTime() + (days * 24 * 60 * 60 * 1000);
            var rDate = new Date(millSeconds);
            var year = rDate.getFullYear();
            var month = rDate.getMonth() + 1;
            if (month < 10) month = "0" + month;
            var date = rDate.getDate();
            if (date < 10) date = "0" + date;
            return (year + "-" + month + "-" + date);
        };
    });
    //页面刷新时检测是否登录
    app.run(function($rootScope,$http,$location){
        $http({
            url:'/admins/is_login',
            method:"POST",
        }).success(function (admin) {
            $rootScope.activeAdmin =admin;
        }).error(function(data){
            alert('no login,'+data.msg);
            window.location="login.html";
        });
    });
</script>
</html>