<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="UTF-8">
    <title>废宝--环保文章编辑</title>
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" href="../../public/css/bootstrap.css" />
    <link rel="stylesheet" href="../../public/css/style.css" />
    <link rel="stylesheet" href="../../public/css/admin/style.css" />
    <style type="text/css">
        #article_summary{
            resize: none;
            width: 360px;
            height:100px;
        }
        #article_content{
            resize: none;
            width: 700px;
            height: 350px;
        }
    </style>
</head>
<body>
<div class="jumbotron">
    <h1>环保文章管理</h1>
</div>

<nav class="navbar navbar-default">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#indexNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse" id="indexNavbar">
            <ul class="nav navbar-nav">
                <li><a href="index.html"><span class="glyphicon glyphicon-subscript"></span> 首页</a></li>
                <li><a href="recycle_waste_manage.html"><span class="glyphicon glyphicon-list"></span> 废品回收管理</a></li>
                <li><a href="mall_manage.html"><span class="glyphicon glyphicon-fire"></span> 网上商场管理</a></li>
                <li class="active"><a href="environmental_articel_manage.html"><span class="glyphicon glyphicon-fire"></span> 环保文章管理</a></li>
            </ul>
        </div>

    </div>
</nav>

<div class="container">
    <h4 class="text-center">编辑文章</h4>
    <div class="container">
        <form class="form-horizontal">
            <div class="form-group">
                <label for="article_name" class="col-sm-2 col-md-2 control-label">文章标题:</label>
                <div class="col-sm-4 col-md-4">
                    <input type="text" class="form-control" id="article_name" name="article_name" value="环保机器人将解决90%以上城市清洁">
                </div>
            </div>

            <div class="form-group">
                <label for="article_summary" class="col-sm-2 control-label">简介:</label>
                <div class="col-sm-4 col-md-4">
                    <textarea  name="article_summary" id="article_summary">城市将不再有环保工人，环保机器人将全面代替环保工人清洁城市卫生</textarea>
                </div>
            </div>

            <div class="form-group">
                <label for="author_name" class="col-sm-2 control-label">作者姓名:</label>
                <div class="col-sm-4 col-md-4">
                    <input type="text" class="form-control" name="author_name" id="author_name" value="庄叶">
                </div>
            </div>
            <div class="form-group">
                <label for="article_photo" class="col-sm-2 control-label">图片:</label>
                <div class="col-sm-4 col-md-4">
                    <img src="../../public/imgs/article_photo1.jpg" id="article_photo">
                </div>
            </div>
            <div class="form-group">
                <label for="article_content" class="col-sm-2 control-label">文章内容:</label>
                <div class="col-sm-4 col-md-4">
                    <textarea name="article_content" id="article_content">智能清洁机器人,将于2020年全面应用于城市环境清洁，届时，将能够取代90%以上的人工清洁。</textarea>
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-4 col-md-4">
                    <button type="reset" class="btn btn-default">重写</button>
                    <button type="submit" class="btn btn-success">提交</button>
                </div>
            </div>
       </form>
    </div>
</div>


<script src="../../public/js/jquery-1.11.3.js"></script>
<script src="../../public/js/bootstrap.js"></script>

</body>
</html>