<!DOCTYPE html>
<html lang="zh-cn" ng-app="feibao_admin_login">
<head>
    <meta charset="UTF-8">
    <title>废宝--后台工作人员登录</title>
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" href="../../css/bootstrap.css" />
    <link rel="stylesheet" href="../../css/style.css" />
</head>
<body>
<div class="jumbotron">
    <h1>废宝--后台工作人员登录</h1>
</div>

<div class="container" ng-controller="loginCtrl">
    <form class="form-horizontal" role="form" name="login_form" ng-submit="login()">
        <div class="form-group">
            <label  class="col-md-offset-2 col-md-2 control-label">工号:</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" name="job_number" ng-model="worker.job_number" placeholder="用户名" ng-required>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-offset-2 col-md-2 control-label">密码:</label>
            <div class="col-md-4">
                <input type="password" class="form-control"  placeholder="密码" name="password" ng-model="worker.password" ng-required>
            </div>
        </div>
        <div class="form-group">
            <div class="radio col-md-offset-4 col-md-2">
                <label>
                    <input type="radio" value="0" ng-model="worker.type" ng-required>
                    领取任务
                </label>
                <label>
                    <input type="radio" value="1" ng-model="worker.type" ng-required>
                    录入管理
                </label>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-4 col-sm-4">
                <button type="submit" class="btn btn-success btn-block" style="font-size:18px;" ng-disabled="login_form.$invalid">登  录</button>
            </div>
        </div>
    </form>
</div>

</body>
<script src="../../js/jquery-1.11.3.js"></script>
<script src="../../js/bootstrap.js"></script>
<script src="../../js/angular.js"></script>
<script src="../../js/angular-route.js"></script>
<script type="text/javascript">
    var app =angular.module('feibao_admin_login',['ngRoute']);
    //登录
    app.controller('loginCtrl',function($rootScope,$scope,$http,$window){
        //登录
        $scope.login =function(){
//            alert(JSON.stringify($scope.worker));
            $http({
                url:'/workers/login',
                method:"POST",
                data:$scope.worker
            }).success(function (worker) {
                if(worker.type ==1){
                    $window.location.href ='inter_admin.html';
                }else if(worker.type ==0){
                    $window.location.href ='claim_work.html';
                }else{
                    alert('服务器错误');
                }
            }).error(function(data){
                alert('登录失败:'+data.msg);
            });
        };

    });
</script>
</html>