<!DOCTYPE html>
<html lang="zh-cn" ng-app="feibao_mall">
<head>
    <meta charset="UTF-8">
    <title>废宝--网上商场管理</title>
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" href="../../css/bootstrap.css" />
    <link rel="stylesheet" href="../../css/style.css" />
    <link rel="stylesheet" href="../../css/admin/style.css" />
    <style type="text/css">
        .search{
            padding-bottom: 10px;
        }
        .introduce{
            width: 500px;
            height: 150px;
            resize: none;
        }

    </style>
</head>
<body>
<div class="jumbotron">
    <h1>网上商场管理</h1>
</div>

<nav class="navbar navbar-default">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#indexNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse" id="indexNavbar">
            <ul class="nav navbar-nav">
                <li><a href="inter_admin.html"><span class="glyphicon glyphicon-home"></span> 首页</a></li>
                <li><a href="recycle_waste_manage.html"><span class="glyphicon glyphicon-refresh"></span> 废品回收管理</a></li>
                <li class="active"><a href="mall_manage.html"><span class="glyphicon glyphicon-shopping-cart"></span> 网上商场管理</a></li>
                <li><a href="article_manage.html"><span class="glyphicon glyphicon-book"></span> 环保文章管理</a></li>
                <li><a href="worker_manage.html"><span class="glyphicon glyphicon-book"></span> 工作人员管理</a></li>
            </ul>
        </div>

    </div>
</nav>

<div class="container">
    <ul class="nav nav-tabs" role="tablist">
        <!--<li role="presentation" ><a href="#user_order" aria-controls="user_order" role="tab" data-toggle="tab">用户订单</a></li>-->
        <!--<li role="presentation"><a href="#cycle_distribution" aria-controls="cycle_distribution" role="tab" data-toggle="tab">周期配送</a></li>-->
        <li role="presentation" class="active"><a href="#add_ware" aria-controls="add_ware" role="tab" data-toggle="tab">添加商品</a></li>
        <li role="presentation"><a href="#show_wares" aria-controls="show_wares" role="tab" data-toggle="tab">已有商品</a></li>
    </ul>

    <div class="tab-content">
        <!--&lt;!&ndash;用户订单&ndash;&gt;-->
        <!--<div role="tabpanel" class="tab-pane active" id="user_order">-->
            <!--<div class="container text-center">-->
                <!--<form class="form-inline search">-->
                    <!--<div class="form-group">-->
                        <!--<input type="text" class="form-control" placeholder="请输入订单日期">-->
                        <!--<button type="submit" class="btn btn-success">搜索</button>-->
                    <!--</div>-->
                <!--</form>-->
                <!--<table class="table">-->
                    <!--<tr>-->
                        <!--<td><button class="btn btn-default">未支付订单</button></td>-->
                        <!--<td><button class="btn btn-default">未发货订单</button></td>-->
                        <!--<td><button class="btn btn-default">已发货订单</button></td>-->
                        <!--<td><button class="btn btn-success">已完成订单</button></td>-->
                    <!--</tr>-->
                <!--</table>-->
                <!--&lt;!&ndash;未支付订单&ndash;&gt;-->
                <!--<table class="table table-bordered table-hover sr-only">-->
                    <!--<caption>未支付订单</caption>-->
                    <!--<thead>-->
                        <!--<td>时间</td>-->
                        <!--<td>订单号</td>-->
                        <!--<td>商品</td>-->
                        <!--<td>数量</td>-->
                        <!--<td>总价格</td>-->
                        <!--<td>收货人</td>-->
                        <!--<td>手机</td>-->
                        <!--<td>地址</td>-->
                        <!--<td>用户名</td>-->
                        <!--<td>订单状态</td>-->
                    <!--</thead>-->
                    <!--<tr>-->
                        <!--<td>2016-1-2</td>-->
                        <!--<td>2345876599</td>-->
                        <!--<td>巧克力盒装500g</td>-->
                        <!--<td>2</td>-->
                        <!--<td>200元</td>-->
                        <!--<td>庄叶</td>-->
                        <!--<td>15652922740</td>-->
                        <!--<td>北京市朝阳区北四环东路97号</td>-->
                        <!--<td>庄叶</td>-->
                        <!--<td>未付款</td>-->
                    <!--</tr>-->
                    <!--<tr>-->
                        <!--<td>2016-1-2</td>-->
                        <!--<td>2345876599</td>-->
                        <!--<td>清风纸巾9包装200抽</td>-->
                        <!--<td>1</td>-->
                        <!--<td>20元</td>-->
                        <!--<td>庄叶</td>-->
                        <!--<td>15652922740</td>-->
                        <!--<td>北京市朝阳区北四环东路97号</td>-->
                        <!--<td>未付款</td>-->
                    <!--</tr>-->
                    <!--<tr>-->
                        <!--<td>2016-1-2</td>-->
                        <!--<td>2345876599</td>-->
                        <!--<td>中粮大米50kg</td>-->
                        <!--<td>1</td>-->
                        <!--<td>300元</td>-->
                        <!--<td>庄叶</td>-->
                        <!--<td>15652922740</td>-->
                        <!--<td>北京市朝阳区北四环东路97号</td>-->
                        <!--<td>庄叶</td>-->
                        <!--<td>未付款</td>-->
                    <!--</tr>-->
                <!--</table>-->

                <!--&lt;!&ndash;未发货订单&ndash;&gt;-->
                <!--<table class="table table-bordered table-hover sr-only">-->
                    <!--<caption>未发货订单</caption>-->
                    <!--<thead>-->
                    <!--<td>时间</td>-->
                    <!--<td>订单号</td>-->
                    <!--<td>商品</td>-->
                    <!--<td>数量</td>-->
                    <!--<td>总价格</td>-->
                    <!--<td>收货人</td>-->
                    <!--<td>手机</td>-->
                    <!--<td>地址</td>-->
                    <!--<td>用户名</td>-->
                    <!--<td>订单状态</td>-->
                    <!--<td>操作</td>-->
                    <!--</thead>-->
                    <!--<tr>-->
                        <!--<td>2016-1-2</td>-->
                        <!--<td>2345876599</td>-->
                        <!--<td>巧克力盒装500g</td>-->
                        <!--<td>2</td>-->
                        <!--<td>200元</td>-->
                        <!--<td>庄叶</td>-->
                        <!--<td>15652922740</td>-->
                        <!--<td>北京市朝阳区北四环东路97号</td>-->
                        <!--<td>庄叶</td>-->
                        <!--<td>未发货已付款</td>-->
                        <!--<td><button class="btn btn-default">发货</button></td>-->
                    <!--</tr>-->
                    <!--<tr>-->
                        <!--<td>2016-1-2</td>-->
                        <!--<td>2345876599</td>-->
                        <!--<td>清风纸巾9包装200抽</td>-->
                        <!--<td>1</td>-->
                        <!--<td>20元</td>-->
                        <!--<td>庄叶</td>-->
                        <!--<td>15652922740</td>-->
                        <!--<td>北京市朝阳区北四环东路97号</td>-->
                        <!--<td>庄叶</td>-->
                        <!--<td>未发货已付款</td>-->
                        <!--<td><button class="btn btn-default">发货</button></td>-->
                    <!--</tr>-->
                    <!--<tr>-->
                        <!--<td>2016-1-2</td>-->
                        <!--<td>2345876599</td>-->
                        <!--<td>中粮大米50kg</td>-->
                        <!--<td>1</td>-->
                        <!--<td>300元</td>-->
                        <!--<td>庄叶</td>-->
                        <!--<td>15652922740</td>-->
                        <!--<td>北京市朝阳区北四环东路97号</td>-->
                        <!--<td>庄叶</td>-->
                        <!--<td>未发货已付款</td>-->
                        <!--<td><button class="btn btn-default">发货</button></td>-->
                    <!--</tr>-->
                <!--</table>-->

                <!--&lt;!&ndash;已发货订单&ndash;&gt;-->
                <!--<table class="table table-bordered table-hover sr-only">-->
                    <!--<caption>已发货订单</caption>-->
                    <!--<thead>-->
                        <!--<td>时间</td>-->
                        <!--<td>订单号</td>-->
                        <!--<td>商品</td>-->
                        <!--<td>数量</td>-->
                        <!--<td>总价格</td>-->
                        <!--<td>收货人</td>-->
                        <!--<td>手机</td>-->
                        <!--<td>地址</td>-->
                        <!--<td>用户名</td>-->
                        <!--<td>订单状态</td>-->
                        <!--<td>物流信息</td>-->
                    <!--</thead>-->
                    <!--<tr>-->
                        <!--<td>2016-1-2</td>-->
                        <!--<td>2345876599</td>-->
                        <!--<td>巧克力盒装500g</td>-->
                        <!--<td>2</td>-->
                        <!--<td>200元</td>-->
                        <!--<td>庄叶</td>-->
                        <!--<td>15652922740</td>-->
                        <!--<td>北京市朝阳区北四环东路97号</td>-->
                        <!--<td>庄叶</td>-->
                        <!--<td>已发货未收货</td>-->
                        <!--<td><button class="btn btn-default">物流详情</button></td>-->
                    <!--</tr>-->
                    <!--<tr>-->
                        <!--<td>2016-1-2</td>-->
                        <!--<td>2345876599</td>-->
                        <!--<td>清风纸巾9包装200抽</td>-->
                        <!--<td>1</td>-->
                        <!--<td>20元</td>-->
                        <!--<td>庄叶</td>-->
                        <!--<td>15652922740</td>-->
                        <!--<td>北京市朝阳区北四环东路97号</td>-->
                        <!--<td>庄叶</td>-->
                        <!--<td>已发货未收货</td>-->
                        <!--<td><button class="btn btn-default">物流详情</button></td>-->
                    <!--</tr>-->
                    <!--<tr>-->
                        <!--<td>2016-1-2</td>-->
                        <!--<td>2345876599</td>-->
                        <!--<td>中粮大米50kg</td>-->
                        <!--<td>1</td>-->
                        <!--<td>300元</td>-->
                        <!--<td>庄叶</td>-->
                        <!--<td>15652922740</td>-->
                        <!--<td>北京市朝阳区北四环东路97号</td>-->
                        <!--<td>庄叶</td>-->
                        <!--<td>已发货未收货</td>-->
                        <!--<td><button class="btn btn-default">物流详情</button></td>-->
                    <!--</tr>-->
                <!--</table>-->

                <!--&lt;!&ndash;已完成订单&ndash;&gt;-->
                <!--<table class="table table-bordered table-hover">-->
                    <!--<caption>已发货订单</caption>-->
                    <!--<thead>-->
                    <!--<td>时间</td>-->
                    <!--<td>订单号</td>-->
                    <!--<td>商品</td>-->
                    <!--<td>数量</td>-->
                    <!--<td>总价格</td>-->
                    <!--<td>收货人</td>-->
                    <!--<td>手机</td>-->
                    <!--<td>地址</td>-->
                    <!--<td>用户名</td>-->
                    <!--<td>订单状态</td>-->
                    <!--<td>物流信息</td>-->
                    <!--</thead>-->
                    <!--<tr>-->
                        <!--<td>2016-1-2</td>-->
                        <!--<td>2345876599</td>-->
                        <!--<td>巧克力盒装500g</td>-->
                        <!--<td>2</td>-->
                        <!--<td>200元</td>-->
                        <!--<td>庄叶</td>-->
                        <!--<td>15652922740</td>-->
                        <!--<td>北京市朝阳区北四环东路97号</td>-->
                        <!--<td>庄叶</td>-->
                        <!--<td>已完成</td>-->
                        <!--<td><button class="btn btn-default">物流详情</button></td>-->
                    <!--</tr>-->
                    <!--<tr>-->
                        <!--<td>2016-1-2</td>-->
                        <!--<td>2345876599</td>-->
                        <!--<td>清风纸巾9包装200抽</td>-->
                        <!--<td>1</td>-->
                        <!--<td>20元</td>-->
                        <!--<td>庄叶</td>-->
                        <!--<td>15652922740</td>-->
                        <!--<td>北京市朝阳区北四环东路97号</td>-->
                        <!--<td>庄叶</td>-->
                        <!--<td>已完成</td>-->
                        <!--<td><button class="btn btn-default">物流详情</button></td>-->
                    <!--</tr>-->
                    <!--<tr>-->
                        <!--<td>2016-1-2</td>-->
                        <!--<td>2345876599</td>-->
                        <!--<td>中粮大米50kg</td>-->
                        <!--<td>1</td>-->
                        <!--<td>300元</td>-->
                        <!--<td>庄叶</td>-->
                        <!--<td>15652922740</td>-->
                        <!--<td>北京市朝阳区北四环东路97号</td>-->
                        <!--<td>庄叶</td>-->
                        <!--<td>已完成</td>-->
                        <!--<td><button class="btn btn-default">物流详情</button></td>-->
                    <!--</tr>-->
                <!--</table>-->
            <!--</div>-->
        <!--</div>-->

        <!--&lt;!&ndash;周期配送&ndash;&gt;-->
        <!--<div role="tabpanel" class="tab-pane" id="cycle_distribution">-->
            <!--<div class="container text-center">-->
                <!--<form class="form-inline search">-->
                    <!--<div class="form-group">-->
                        <!--<input type="text" class="form-control" placeholder="请输入周期配送日期">-->
                        <!--<button type="submit" class="btn btn-success">搜索</button>-->
                    <!--</div>-->
                <!--</form>-->
                <!--<table class="table">-->
                    <!--<tr>-->
                        <!--<td><button class="btn btn-default">今日需配送</button></td>-->
                        <!--<td><button class="btn btn-default">已配送未收款</button></td>-->
                        <!--<td><button class="btn btn-success">已完成</button></td>-->
                    <!--</tr>-->
                <!--</table>-->

                <!--&lt;!&ndash;今日需配送&ndash;&gt;-->
                <!--<table class="table table-bordered table-hover sr-only">-->
                    <!--<caption>今日需配送</caption>-->
                    <!--<thead>-->
                        <!--<td>时间</td>-->
                        <!--<td>配送单号</td>-->
                        <!--<td>商品</td>-->
                        <!--<td>总数量</td>-->
                        <!--<td>总价格</td>-->
                        <!--<td>收货人</td>-->
                        <!--<td>手机</td>-->
                        <!--<td>地址</td>-->
                        <!--<td>用户名</td>-->
                        <!--<td>配送状态</td>-->
                        <!--<td>操作</td>-->
                    <!--</thead>-->
                    <!--<tr>-->
                        <!--<td>2016-1-26</td>-->
                        <!--<td>2345876599</td>-->
                        <!--<td>巧克力盒装500g【1】<br>-->
                            <!--金典牛奶6盒装【1】</td>-->

                        <!--<td>2</td>-->
                        <!--<td>200元</td>-->
                        <!--<td>庄叶</td>-->
                        <!--<td>15652922740</td>-->
                        <!--<td>北京市朝阳区北四环东路97号</td>-->
                        <!--<td>庄叶</td>-->
                        <!--<td>未配送</td>-->
                        <!--<td><button class="btn btn-default">配送</button></td>-->
                    <!--</tr>-->
                    <!--<tr>-->
                        <!--<td>2016-1-26</td>-->
                        <!--<td>2345876599</td>-->
                        <!--<td>清风纸巾9包装200抽【1】</td>-->
                        <!--<td>1</td>-->
                        <!--<td>20元</td>-->
                        <!--<td>庄叶</td>-->
                        <!--<td>15652922740</td>-->
                        <!--<td>北京市朝阳区北四环东路97号</td>-->
                        <!--<td>庄叶</td>-->
                        <!--<td>未配送</td>-->
                        <!--<td><button class="btn btn-default">配送</button></td>-->
                    <!--</tr>-->
                    <!--<tr>-->
                        <!--<td>2016-1-26</td>-->
                        <!--<td>2345876599</td>-->
                        <!--<td>中粮大米50kg【1】</td>-->
                        <!--<td>1</td>-->
                        <!--<td>300元</td>-->
                        <!--<td>庄叶</td>-->
                        <!--<td>15652922740</td>-->
                        <!--<td>北京市朝阳区北四环东路97号</td>-->
                        <!--<td>庄叶</td>-->
                        <!--<td>未配送</td>-->
                        <!--<td><button class="btn btn-default">配送</button></td>-->
                    <!--</tr>-->
                <!--</table>-->

                <!--&lt;!&ndash;已配送未收款&ndash;&gt;-->
                <!--<table class="table table-bordered table-hover sr-only">-->
                    <!--<caption>已配送未收款</caption>-->
                    <!--<thead>-->
                    <!--<td>时间</td>-->
                    <!--<td>配送单号</td>-->
                    <!--<td>商品</td>-->
                    <!--<td>总数量</td>-->
                    <!--<td>总价格</td>-->
                    <!--<td>收货人</td>-->
                    <!--<td>手机</td>-->
                    <!--<td>地址</td>-->
                    <!--<td>配送状态</td>-->
                    <!--<td>用户名</td>-->
                    <!--<td>操作</td>-->
                    <!--</thead>-->
                    <!--<tr>-->
                        <!--<td>2016-1-26</td>-->
                        <!--<td>2345876599</td>-->
                        <!--<td>巧克力盒装500g【1】<br>-->
                            <!--金典牛奶6盒装【1】</td>-->

                        <!--<td>2</td>-->
                        <!--<td>200元</td>-->
                        <!--<td>庄叶</td>-->
                        <!--<td>15652922740</td>-->
                        <!--<td>北京市朝阳区北四环东路97号</td>-->
                        <!--<td>庄叶</td>-->
                        <!--<td>未收款</td>-->
                        <!--<td><button class="btn btn-success">收款</button></td>-->
                    <!--</tr>-->
                    <!--<tr>-->
                        <!--<td>2016-1-26</td>-->
                        <!--<td>2345876599</td>-->
                        <!--<td>清风纸巾9包装200抽【1】</td>-->
                        <!--<td>1</td>-->
                        <!--<td>20元</td>-->
                        <!--<td>庄叶</td>-->
                        <!--<td>15652922740</td>-->
                        <!--<td>北京市朝阳区北四环东路97号</td>-->
                        <!--<td>庄叶</td>-->
                        <!--<td>未收款</td>-->
                        <!--<td><button class="btn btn-success">收款</button></td>-->
                    <!--</tr>-->
                    <!--<tr>-->
                        <!--<td>2016-1-26</td>-->
                        <!--<td>2345876599</td>-->
                        <!--<td>中粮大米50kg【1】</td>-->
                        <!--<td>1</td>-->
                        <!--<td>300元</td>-->
                        <!--<td>庄叶</td>-->
                        <!--<td>15652922740</td>-->
                        <!--<td>北京市朝阳区北四环东路97号</td>-->
                        <!--<td>庄叶</td>-->
                        <!--<td>未收款</td>-->
                        <!--<td><button class="btn btn-success">收款</button></td>-->
                    <!--</tr>-->
                <!--</table>-->

                <!--&lt;!&ndash;已完成&ndash;&gt;-->
                <!--<table class="table table-bordered table-hover">-->
                    <!--<caption>已完成</caption>-->
                    <!--<thead>-->
                        <!--<td>时间</td>-->
                        <!--<td>配送单号</td>-->
                        <!--<td>商品</td>-->
                        <!--<td>总数量</td>-->
                        <!--<td>总价格</td>-->
                        <!--<td>收货人</td>-->
                        <!--<td>手机</td>-->
                        <!--<td>地址</td>-->
                        <!--<td>用户名</td>-->
                        <!--<td>配送状态</td>-->
                    <!--</thead>-->
                    <!--<tr>-->
                        <!--<td>2016-1-26</td>-->
                        <!--<td>2345876599</td>-->
                        <!--<td>巧克力盒装500g【1】<br>-->
                            <!--金典牛奶6盒装【1】</td>-->

                        <!--<td>2</td>-->
                        <!--<td>200元</td>-->
                        <!--<td>庄叶</td>-->
                        <!--<td>15652922740</td>-->
                        <!--<td>北京市朝阳区北四环东路97号</td>-->
                        <!--<td>庄叶</td>-->
                        <!--<td>已完成</td>-->
                    <!--</tr>-->
                    <!--<tr>-->
                        <!--<td>2016-1-26</td>-->
                        <!--<td>2345876599</td>-->
                        <!--<td>清风纸巾9包装200抽【1】</td>-->
                        <!--<td>1</td>-->
                        <!--<td>20元</td>-->
                        <!--<td>庄叶</td>-->
                        <!--<td>15652922740</td>-->
                        <!--<td>北京市朝阳区北四环东路97号</td>-->
                        <!--<td>庄叶</td>-->
                        <!--<td>已完成</td>-->
                    <!--</tr>-->
                    <!--<tr>-->
                        <!--<td>2016-1-26</td>-->
                        <!--<td>2345876599</td>-->
                        <!--<td>中粮大米50kg【1】</td>-->
                        <!--<td>1</td>-->
                        <!--<td>300元</td>-->
                        <!--<td>庄叶</td>-->
                        <!--<td>15652922740</td>-->
                        <!--<td>北京市朝阳区北四环东路97号</td>-->
                        <!--<td>庄叶</td>-->
                        <!--<td>已完成</td>-->
                    <!--</tr>-->
                <!--</table>-->
            <!--</div>-->
        <!--</div>-->

        <!--添加商品-->
        <div role="tabpanel" class="tab-pane active" id="add_ware" ng-controller="add_ware">
            <div class="container">
                <form class="form-horizontal">
                    <div class="form-group">
                        <label class="col-sm-2 col-md-2 control-label">商品名称:</label>
                        <div class="col-sm-4 col-md-4">
                            <input type="text" class="form-control" name="name" placeholder="商品名称" ng-model="ware.name">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label">原价:</label>
                        <div class="col-sm-4 col-md-4">
                            <input type="text" class="form-control" name="original_price" placeholder="原价" ng-model="ware.original_price">
                        </div>
                    </div>

                    <div class="form-group">
                        <label  class="col-sm-2 control-label">现价:</label>
                        <div class="col-sm-4 col-md-4">
                            <input type="text" class="form-control" name="present_price" placeholder="现价" ng-model="ware.present_price">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">图片:</label>
                        <div class="col-sm-4 col-md-4">
                            <input type="file" name="photo" showimg-model>
                            <img src="{{ware.photo}}"  alt="图片预览" style="width:150px;height:150px;display:block;"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">商品介绍:</label>
                        <div class="col-sm-4 col-md-4">
                            <textarea class="introduce" ng-model="ware.introduce"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">所属分类:</label>
                        <div class="col-sm-4 col-md-4">
                            <select class="form-control" name="sort" ng-model="ware.sort">
                                <option value="1" selected>干果</option>
                                <option value="2">纸巾</option>
                                <option value="3">零食</option>
                                <option value="4">洗护用品</option>
                                <option value="5">饮料</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="state" class="col-sm-2 control-label">是否上架:</label>
                        <div class="col-sm-4 col-md-4">
                            <select class="form-control" id="state" name="state" ng-model="ware.state">
                                <option value="1">上架</option>
                                <option value="0">下架</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-4 col-md-4">
                            <button type="reset" class="btn btn-default">重写</button>
                            <button type="submit" class="btn btn-success" ng-click="add_ware()">保存</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <!--商品分类-->
        <div role="tabpanel" class="tab-pane" id="show_wares" ng-controller="show_wares">
            <div class="container text-center">
                <form class="form-inline search">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="请输入商品名称" ng-model="search">
                    </div>
                </form>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-sm-4 col-md-3" ng-repeat="ware in wares |filter:search">
                        <div class="thumbnail">
                            <img ng-src="{{ware.photo}}" style="width: 150px;height: 150px;" alt="{{ware.name}}">
                            <div class="caption text-center">
                                <h4>{{ware.name}}</h4>
                                <p>当前价（元）：{{ware.present_price}}￥</p>
                                <del>原价（元）：{{ware.original_price}}￥</del>
                                <p>
                                    <button class="btn btn-default" data-toggle="modal" data-target="#edit_ware_modal" ng-click="edit(ware._id)">编辑</button>&nbsp;&nbsp;&nbsp;&nbsp;
                                    <button type="button" class="btn btn-default"  ng-click="pull(ware._id)" ng-show="ware.state ==1">下架</button>
                                    <button type="button" class="btn btn-success"  ng-click="put(ware._id)" ng-show="ware.state ==0">上架</button>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--编辑商品模态框-->
            <div class="modal fade" id="edit_ware_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title">商品分类编辑</h4>
                        </div>
                        <div class="modal-body">
                            <div class="container">
                                <div class="form-horizontal">
                                    <div class="form-group">
                                        <label class="col-sm-1 col-md-1 control-label">商品名称:</label>
                                        <div class="col-sm-4 col-md-4">
                                            <input type="text" class="form-control" name="name" placeholder="商品名称" ng-model="edit_ware.name" maxlength="14">
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-sm-1 col-md-1 control-label">原价:</label>
                                        <div class="col-sm-4 col-md-4">
                                            <input type="text" class="form-control" name="original_price" placeholder="原价" ng-model="edit_ware.original_price">
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label  class="col-sm-1 col-md-1 control-label">现价:</label>
                                        <div class="col-sm-4 col-md-4">
                                            <input type="text" class="form-control" name="present_price" placeholder="现价" ng-model="edit_ware.present_price">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-1 col-md-1 control-label">图片:</label>
                                        <div class="col-sm-4 col-md-4">
                                            <input type="file" name="photo" showimg-model>
                                            <img src="{{edit_ware.photo}}"  alt="图片预览" style="width:150px;height:150px;display:block;"/>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-1 col-md-1 control-label">商品介绍:</label>
                                        <div class="col-sm-4 col-md-4">
                                            <textarea class="introduce" ng-model="edit_ware.introduce" style="width:440px;"></textarea>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-1 col-md-1 control-label">所属分类:</label>
                                        <div class="col-sm-4 col-md-4">
                                            <select class="form-control" name="sort" ng-model="edit_ware.sort">
                                                <option value="1" selected>干果</option>
                                                <option value="2">水果生鲜</option>
                                                <option value="3">零食</option>
                                                <option value="4">洗护用品</option>
                                                <option value="5">饮料</option>
                                                <option value="6">厨房用品</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="state" class="col-sm-1 col-md-1 control-label">是否上架:</label>
                                        <div class="col-sm-4 col-md-4">
                                            <select class="form-control" name="state" ng-model="edit_ware.state">
                                                <option value="1">上架</option>
                                                <option value="0">下架</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                            <button type="button" class="btn btn-success" ng-click="save_edit()">保存</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script src="../../js/jquery-1.11.3.js"></script>
<script src="../../js/bootstrap.js"></script>
<script src="../../js/angular.js"></script>
<script src="../../js/angular-route.js"></script>
<script type="text/javascript">
    var app =angular.module('feibao_mall',['ngRoute']);
    //添加商品
    app.controller('add_ware',function($rootScope,$scope,$location,$http,fileReader){
        $scope.ware ={};
        $rootScope.wares =[];
        $scope.getFile = function(){
            var s = fileReader.readAsDataUrl($scope.file,$scope);
            s.then(function(result){
                $scope.ware.photo = result;
            })
        };
        $scope.add_ware =function(){
            $http({
                url:'/wares/add',
                method:"POST",
                data:$scope.ware,
            }).success(function (ware) {
                $rootScope.wares.push(ware);
                $scope.ware ={};
                alert('添加成功');
            }).error(function(data){
                alert('添加失败:'+data);
            });
        }
    });
    //查看编辑商品
    app.controller('show_wares',function($rootScope,$scope,$http,fileReader){
        $scope.getFile = function(){
            var s = fileReader.readAsDataUrl($scope.file,$scope);
            s.then(function(result){
                $scope.edit_ware.photo = result;
            })
        };
        $http({
            url:'/wares/find',
            method:'GET'
        }).success(function(wares){
            $rootScope.wares =wares;
        });
        //编辑分类
        $scope.edit =function(id){
            //显示模态框之前查询出数据
            $http({
                url:'/wares/edit',
                method:'POST',
                data:{
                    id:id
                }
            }).success(function(edit_ware){
                $scope.edit_ware =edit_ware;
            });
        };
        //保存编辑
        $scope.save_edit =function(){
            //显示模态框之前查询出数据
            $http({
                url:'/wares/save_edit',
                method:'POST',
                data:$scope.edit_ware
            }).success(function(wares){
                $('#edit_ware_modal').modal('hide');
                $rootScope.wares =wares;
                alert('修改成功');
            });
        };

        //商品下架
        $scope.pull =function(id){
            if(confirm('是否确定下架')){
                $http({
                    url:'/wares/pull',
                    method:'POST',
                    data:{
                        id:id
                    }
                }).success(function(wares){
                    $rootScope.wares =wares;
                });
            }
        };
        //商品上架
        $scope.put =function(id){
            if(confirm('是否确定上架')){
                $http({
                    url:'/wares/put',
                    method:'POST',
                    data:{
                        id:id
                    }
                }).success(function(wares){
                    $rootScope.wares =wares;
                });
            }
        }
    });


    //指令
    app.directive('showimgModel',function(){
        return {
            link:function(scope,element,attrs){
                element.bind('change',function(event){
                    scope.file = element[0].files[0];
                    scope.getFile();
                });
            }
        }
    });

    app.factory('fileReader',function($q){
        //读取文件成功后触发
        var onLoad = function(reader,deferred,scope){
            return function(){
                scope.$apply(function(){
                    deferred.resolve(reader.result);
                });
            }
        }
        //读取失败后触发
        var onError = function(reader,deferred,scope){
            return function(){
                scope.$apply(function(){
                    deferred.reject(reader.result);
                });
            }
        }
        //获取文件读取器
        var getReader = function(deferred,scope){
            var reader = new FileReader();
            reader.onload = onLoad(reader,deferred,scope);
            reader.onerror = onError(reader,deferred,scope);
            return reader;
        }
        //读取为dataurl
        var readAsDataURL = function(file,scope){
            var deferred = $q.defer();
            var reader = getReader(deferred,scope);
            reader.readAsDataURL(file);
            return deferred.promise;
        }
        return {
            readAsDataUrl:readAsDataURL
        }
    })
</script>
</body>
</html>