<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="UTF-8">
    <title>废宝--废品分类编辑</title>
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" href="../../public/css/bootstrap.css" />
    <link rel="stylesheet" href="../../public/css/style.css" />
    <link rel="stylesheet" href="../../public/css/admin/style.css" />
</head>
<body>
<div class="jumbotron">
    <h1>废品分类编辑</h1>
</div>

<nav class="navbar navbar-default">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#indexNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse" id="indexNavbar">
            <ul class="nav navbar-nav">
                <li><a href="index.html"><span class="glyphicon glyphicon-subscript"></span> 首页</a></li>
                <li class="active"><a href="recycle_waste_manage.html"><span class="glyphicon glyphicon-list"></span> 废品回收管理</a></li>
                <li><a href="mall_manage.html"><span class="glyphicon glyphicon-fire"></span> 网上商场管理</a></li>
                <li><a href="articel_manage.html"><span class="glyphicon glyphicon-fire"></span> 环保美文管理</a></li>
            </ul>
        </div>

    </div>
</nav>

    <div class="container">
        <form class="form-horizontal">
            <div class="form-group">
                <label for="waste_sort_name" class="col-sm-2 col-md-2 control-label">分类名称:</label>
                <div class="col-sm-4 col-md-4">
                    <input type="text" class="form-control" id="waste_sort_name" placeholder="分类名称" value="手机平板">
                </div>
            </div>

            <div class="form-group">
                <label for="waste_sort_lowest_price" class="col-sm-2 control-label">最低价:</label>
                <div class="col-sm-4 col-md-4">
                    <input type="text" class="form-control" id="waste_sort_lowest_price" placeholder="最低价格" value="200">
                </div>
            </div>

            <div class="form-group">
                <label for="waste_sort_highest_price" class="col-sm-2 control-label">最高价:</label>
                <div class="col-sm-4 col-md-4">
                    <input type="text" class="form-control" id="waste_sort_highest_price" placeholder="最高价格" value="6000">
                </div>
            </div>
            <div class="form-group">
                <label for="waste_sort_photo" class="col-sm-2 control-label">分类图片:</label>
                <div class="col-sm-4 col-md-4">
                    <input type="file" name="small_photo" id="waste_sort_photo">
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-4 col-md-4">
                    <button type="reset" class="btn btn-default">重写</button>
                    <button type="submit" class="btn btn-success">提交</button>
                </div>
            </div>
        </form>
    </div>



<script src="../../public/js/jquery-1.11.3.js"></script>
<script src="../../public/js/bootstrap.js"></script>
</body>
</html>