<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="UTF-8">
    <title>废宝--废品回收管理</title>
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" href="../../css/bootstrap.css" />
    <link rel="stylesheet" href="../../css/style.css" />
    <link rel="stylesheet" href="../../css/admin/style.css" />
    <style type="text/css">

        .sort_btn_table > thead > tr > th, .sort_btn_table > tbody > tr > th, .sort_btn_table > tfoot > tr > th,
        .sort_btn_table > thead > tr > td, .sort_btn_table > tbody > tr > td, .sort_btn_table > tfoot > tr > td {
            border:none;
        }
        .waste_sort_search{
            margin-bottom:10px;
        }
    </style>

</head>
<body>
<div class="jumbotron">
    <h1>废品回收管理</h1>
</div>

<nav class="navbar navbar-default">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#indexNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse" id="indexNavbar">
            <ul class="nav navbar-nav">
                <li><a href="index.html"><span class="glyphicon glyphicon-home"></span> 首页</a></li>
                <li class="active"><a href="recycle_waste_manage.html"><span class="glyphicon glyphicon-refresh"></span> 废品回收管理</a></li>
                <li><a href="mall_manage.html"><span class="glyphicon glyphicon-shopping-cart"></span> 网上商场管理</a></li>
                <li><a href="articel_manage.html"><span class="glyphicon glyphicon-book"></span> 环保文章管理</a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="container">
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a href="#bespeak_recycle" aria-controls="bespeak_recycle" role="tab" data-toggle="tab">预约回收</a></li>
        <li role="presentation"><a href="#cycle_recycle" aria-controls="cycle_recycle" role="tab" data-toggle="tab">周期回收</a></li>
        <li role="presentation"><a href="#add_waste_sort" aria-controls="waste_sort" role="tab" data-toggle="tab">添加废品分类</a></li>
        <li role="presentation"><a href="#waste_sort" aria-controls="waste_sort" role="tab" data-toggle="tab">废品分类</a></li>
        <li role="presentation"><a href="#recycle_statistics" aria-controls="recycle_statistics" role="tab" data-toggle="tab">回收统计</a></li>
    </ul>

    <div class="tab-content">
        <!--预约回收-->
        <div role="tabpanel" class="tab-pane active" id="bespeak_recycle">
            <!--<span>设计思路：1：支付现金，就是先由工作人员垫付上门回收废品应付的款项，再由废宝付给工作人员，相当于未给用户付款。-->
                <!--2：支付电子货币，-->
            <!--</span>-->
            <table class="table text-center sort_btn_table">
                <tr>
                    <td><button class="btn btn-default">今日上门</button></td>
                    <td><button class="btn btn-default">未付款</button></td>
                    <td><button class="btn btn-default">未处理</button></td>
                    <td><button class="btn btn-success">已完成</button></td>
                </tr>
            </table>

            <!--今日上门-->
            <table class="table table-bordered table-hover text-center sr-only">
                <caption>今日需上门回收的预约</caption>
                <thead>
                    <td>日期</td>
                    <td>时间</td>
                    <td>废品类型</td>
                    <td>大致重量</td>
                    <td>联系人</td>
                    <td>手机</td>
                    <td>详细地址</td>
                    <td>预约状态</td>
                    <td>回收者</td>
                    <td>操作</td>
                </thead>
                <tr>
                    <td>2016-1-26</td>
                    <td>8:00-10:00</td>
                    <td>手机平板,电脑家电</td>
                    <td>20kg</td>
                    <td>庄叶</td>
                    <td>15652922740</td>
                    <td>北京市朝阳区北四环东路97号</td>
                    <td>未回收</td>
                    <td><input class="form-control form-inline" placeholder="上门回收人姓名"></td>
                    <td><button class="btn btn-success">派人上门</button></td>
                </tr>
                <tr>
                    <td>2016-1-26</td>
                    <td>10:00-12:00</td>
                    <td>手机平板,电脑家电</td>
                    <td>20kg</td>
                    <td>庄叶</td>
                    <td>15652922740</td>
                    <td>北京市朝阳区北四环东路97号</td>
                    <td>未回收</td>
                    <td><input class="form-control form-inline" placeholder="上门回收人姓名"></td>
                    <td><button class="btn btn-success">派人上门</button></td>
                </tr>
                <tr>
                    <td>2016-1-26</td>
                    <td>11:00-13:00</td>
                    <td>手机平板,电脑家电</td>
                    <td>20kg</td>
                    <td>庄叶</td>
                    <td>15652922740</td>
                    <td>北京市朝阳区北四环东路97号</td>
                    <td>未回收</td>
                    <td><input class="form-control form-inline" placeholder="上门回收人姓名"></td>
                    <td><button class="btn btn-success">派人上门</button></td>
                </tr>
            </table>

            <!--未付款-->
            <table class="table table-bordered table-hover text-center sr-only">
                <caption>未付款给用户</caption>
                <thead>
                <td>日期</td>
                <td>时间</td>
                <td>废品类型</td>
                <td>大致重量</td>
                <td>联系人</td>
                <td>手机</td>
                <td>详细地址</td>
                <td>用户名</td>
                <td>回收者</td>
                <td>操作</td>
                </thead>
                <tr>
                    <td>2016-1-26</td>
                    <td>8:00-10:00</td>
                    <td>手机平板,电脑家电</td>
                    <td>20kg</td>
                    <td>庄叶</td>
                    <td>15652922740</td>
                    <td>北京市朝阳区北四环东路97号</td>
                    <td>庄叶</td>
                    <td>庄树杰</td>
                    <td>
                        <div class="btn-group">
                            <button type="button" class="btn btn-default" data-toggle="modal" data-target="#cash_pay_bespeak_recycle_modal">现金付款</button>
                            <button type="button" class="btn btn-default" data-toggle="modal" data-target="#electronic_pay_bespeak_recycle_modal">电子货币付款</button>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>2016-1-26</td>
                    <td>10:00-12:00</td>
                    <td>手机平板,电脑家电</td>
                    <td>20kg</td>
                    <td>庄叶</td>
                    <td>15652922740</td>
                    <td>北京市朝阳区北四环东路97号</td>
                    <td>树杰</td>
                    <td>庄树杰1</td>
                    <td>
                        <div class="btn-group">
                        <button type="button" class="btn btn-default" data-toggle="modal" data-target="#cash_pay_bespeak_recycle_modal">现金付款</button>
                        <button type="button" class="btn btn-default" data-toggle="modal" data-target="#electronic_pay_bespeak_recycle_modal">电子货币付款</button>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>2016-1-26</td>
                    <td>11:00-13:00</td>
                    <td>手机平板,电脑家电</td>
                    <td>20kg</td>
                    <td>庄叶</td>
                    <td>15652922740</td>
                    <td>北京市朝阳区北四环东路97号</td>
                    <td>庄姐</td>
                    <td>庄树杰2</td>
                    <td>
                        <div class="btn-group">
                            <button type="button" class="btn btn-default" data-toggle="modal" data-target="#cash_pay_bespeak_recycle_modal">现金付款</button>
                            <button type="button" class="btn btn-default" data-toggle="modal" data-target="#electronic_pay_bespeak_recycle_modal">电子货币付款</button>
                        </div>
                    </td>
                </tr>
            </table>

            <!--未处理-->
            <table class="table table-bordered table-hover text-center sr-only">
                <caption>未处理的预约</caption>
                <thead>
                <td>日期</td>
                <td>时间</td>
                <td>废品类型</td>
                <td>大致重量</td>
                <td>联系人</td>
                <td>手机</td>
                <td>详细地址</td>
                <td>预约状态</td>
                <td>回收者</td>
                <td>操作</td>
                </thead>
                <tr>
                    <td>2016-1-27</td>
                    <td>8:00-10:00</td>
                    <td>手机平板,电脑家电</td>
                    <td>20kg</td>
                    <td>庄叶</td>
                    <td>15652922740</td>
                    <td>北京市朝阳区北四环东路97号</td>
                    <td>未上门</td>
                    <td><input class="form-control form-inline" placeholder="上门回收人姓名"></td>
                    <td><button class="btn btn-success">派人上门</button></td>
                </tr>
                <tr>
                    <td>2016-1-26</td>
                    <td>10:00-12:00</td>
                    <td>手机平板,电脑家电</td>
                    <td>20kg</td>
                    <td>庄叶</td>
                    <td>15652922740</td>
                    <td>北京市朝阳区北四环东路97号</td>
                    <td>未上门</td>
                    <td><input class="form-control form-inline" placeholder="上门回收人姓名"></td>
                    <td><button class="btn btn-success">派人上门</button></td>
                </tr>
                <tr>
                    <td>2016-1-22</td>
                    <td>11:00-13:00</td>
                    <td>手机平板,电脑家电</td>
                    <td>20kg</td>
                    <td>庄叶</td>
                    <td>15652922740</td>
                    <td>北京市朝阳区北四环东路97号</td>
                    <td>未上门</td>
                    <td><input class="form-control form-inline" placeholder="上门回收人姓名"></td>
                    <td><button class="btn btn-success">派人上门</button></td>
                </tr>
            </table>

            <!--已处理-->
            <table class="table table-bordered table-hover text-center">
                <caption>已完成预约</caption>
                <thead>
                    <td>预约日期</td>
                    <td>上门日期</td>
                    <td>时间</td>
                    <td>回收废品</td>
                    <td>总重量</td>
                    <td>联系人</td>
                    <td>手机</td>
                    <td>详细地址</td>
                    <td>用户名</td>
                    <td>回收者</td>
                    <td>付款类型</td>
                    <td>支付金额</td>
                </thead>
                <tr>
                    <td>2016-1-26</td>
                    <td>2016-1-26</td>
                    <td>8:00-10:00</td>
                    <td>三星手机s【1】</td>
                    <td>200g</td>
                    <td>庄叶</td>
                    <td>15652922740</td>
                    <td>北京市朝阳区北四环东路97号</td>
                    <td>庄叶</td>
                    <td>庄树杰</td>
                    <td>电子货币</td>
                    <td>500元</td>
                </tr>
                <tr>
                    <td>2016-1-26</td>
                    <td>2016-1-26</td>
                    <td>8:00-10:00</td>
                    <td>塑料瓶罐【2kg】</td>
                    <td>2000g</td>
                    <td>庄叶</td>
                    <td>15652922740</td>
                    <td>北京市朝阳区北四环东路97号</td>
                    <td>庄叶</td>
                    <td>庄树杰</td>
                    <td>现金</td>
                    <td>40元</td>
                </tr>
                <tr>
                    <td>2016-1-26</td>
                    <td>2016-1-26</td>
                    <td>8:00-10:00</td>
                    <td>塑料瓶罐【2kg】，纸箱报纸【3kg】</td>
                    <td>5000g</td>
                    <td>庄叶</td>
                    <td>15652922740</td>
                    <td>北京市朝阳区北四环东路97号</td>
                    <td>庄叶</td>
                    <td>庄树杰</td>
                    <td>电子货币</td>
                    <td>60元</td>
                </tr>
            </table>

        </div>

        <!--周期回收11111111111111111111111111111111111111-->
        <div role="tabpanel" class="tab-pane" id="cycle_recycle">
            <table class="table text-center sort_btn_table">
                <tr>
                    <td><button class="btn btn-default">今日上门</button></td>
                    <td><button class="btn btn-default">未付款</button></td>
                    <td><button class="btn btn-default">未处理</button></td>
                    <td><button class="btn btn-success">已完成</button></td>
                </tr>
            </table>

            <!--今日上门-->
            <table class="table table-bordered table-hover text-center sr-only">
                <caption>今日需上门的周期回收</caption>
                <thead>
                    <td>日期</td>
                    <td>时间</td>
                    <td>废品类型</td>
                    <td>大致重量</td>
                    <td>联系人</td>
                    <td>手机</td>
                    <td>详细地址</td>
                    <td>间隔时间</td>
                    <td>回收状态</td>
                    <td>回收者</td>
                    <td>操作</td>
                </thead>
                <tr>
                    <td>2016-1-26</td>
                    <td>8:00-10:00</td>
                    <td>手机平板,电脑家电</td>
                    <td>20kg</td>
                    <td>庄叶</td>
                    <td>15652922740</td>
                    <td>北京市朝阳区北四环东路97号</td>
                    <td>4周</td>
                    <td>未回收</td>
                    <td><input class="form-control form-inline" placeholder="上门回收人姓名"></td>
                    <td><button class="btn btn-success">派人上门</button></td>
                </tr>
                <tr>
                    <td>2016-1-26</td>
                    <td>10:00-12:00</td>
                    <td>纸箱报纸</td>
                    <td>10kg</td>
                    <td>庄叶</td>
                    <td>15652922740</td>
                    <td>北京市朝阳区北四环东路97号</td>
                    <td>4周</td>
                    <td>未回收</td>
                    <td><input class="form-control form-inline" placeholder="上门回收人姓名"></td>
                    <td><button class="btn btn-success">派人上门</button></td>
                </tr>
                <tr>
                    <td>2016-1-26</td>
                    <td>11:00-13:00</td>
                    <td>手机平板,电脑家电</td>
                    <td>20kg</td>
                    <td>庄叶</td>
                    <td>15652922740</td>
                    <td>北京市朝阳区北四环东路97号</td>
                    <td>8周</td>
                    <td>未回收</td>
                    <td><input class="form-control form-inline" placeholder="上门回收人姓名"></td>
                    <td><button class="btn btn-success">派人上门</button></td>
                </tr>
            </table>

            <!--未付款-->
            <table class="table table-bordered table-striped table-hover text-center sr-only">
                <caption>未付款给用户</caption>
                <thead>
                <td>日期</td>
                <td>时间</td>
                <td>废品类型</td>
                <td>大致重量</td>
                <td>联系人</td>
                <td>手机</td>
                <td>详细地址</td>
                <td>用户名</td>
                <td>回收者</td>
                <td>操作</td>
                </thead>
                <tr>
                    <td>2016-1-26</td>
                    <td>8:00-10:00</td>
                    <td>手机平板,电脑家电</td>
                    <td>20kg</td>
                    <td>庄叶</td>
                    <td>15652922740</td>
                    <td>北京市朝阳区北四环东路97号</td>
                    <td>庄叶</td>
                    <td>庄树杰</td>
                    <td>
                        <div class="btn-group">
                            <button type="button" class="btn btn-default" data-toggle="modal" data-target="#cash_pay_cycle_recycle_modal">现金付款</button>
                            <button type="button" class="btn btn-default" data-toggle="modal" data-target="#electronic_pay_cycle_recycle_modal">电子货币付款</button>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>2016-1-26</td>
                    <td>10:00-12:00</td>
                    <td>手机平板,电脑家电</td>
                    <td>20kg</td>
                    <td>庄叶</td>
                    <td>15652922740</td>
                    <td>北京市朝阳区北四环东路97号</td>
                    <td>树杰</td>
                    <td>庄树杰1</td>
                    <td>
                        <div class="btn-group">
                            <button type="button" class="btn btn-default" data-toggle="modal" data-target="#cash_pay_cycle_recycle_modal">现金付款</button>
                            <button type="button" class="btn btn-default" data-toggle="modal" data-target="#electronic_pay_cycle_recycle_modal">电子货币付款</button>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>2016-1-26</td>
                    <td>11:00-13:00</td>
                    <td>手机平板,电脑家电</td>
                    <td>20kg</td>
                    <td>庄叶</td>
                    <td>15652922740</td>
                    <td>北京市朝阳区北四环东路97号</td>
                    <td>庄姐</td>
                    <td>庄树杰2</td>
                    <td>
                        <div class="btn-group">
                            <button type="button" class="btn btn-default" data-toggle="modal" data-target="#cash_pay_cycle_recycle_modal">现金付款</button>
                            <button type="button" class="btn btn-default" data-toggle="modal" data-target="#electronic_pay_cycle_recycle_modal">电子货币付款</button>
                        </div>
                    </td>
                </tr>
            </table>

            <!--未处理-->
            <table class="table table-bordered table-hover text-center sr-only">
                <caption>未处理的周期回收</caption>
                <thead>
                <td>日期</td>
                <td>时间</td>
                <td>废品类型</td>
                <td>大致重量</td>
                <td>联系人</td>
                <td>手机</td>
                <td>详细地址</td>
                <td>间隔时间</td>
                <td>回收状态</td>
                <td>回收者</td>
                <td>操作</td>
                </thead>
                <tr>
                    <td>2016-1-26</td>
                    <td>8:00-10:00</td>
                    <td>手机平板,电脑家电</td>
                    <td>20kg</td>
                    <td>庄叶</td>
                    <td>15652922740</td>
                    <td>北京市朝阳区北四环东路97号</td>
                    <td>4周</td>
                    <td>未回收</td>
                    <td><input class="form-control form-inline" placeholder="上门回收人姓名"></td>
                    <td><button class="btn btn-success">派人上门</button></td>
                </tr>
                <tr>
                    <td>2016-1-26</td>
                    <td>10:00-12:00</td>
                    <td>纸箱报纸</td>
                    <td>10kg</td>
                    <td>庄叶</td>
                    <td>15652922740</td>
                    <td>北京市朝阳区北四环东路97号</td>
                    <td>4周</td>
                    <td>未回收</td>
                    <td><input class="form-control form-inline" placeholder="上门回收人姓名"></td>
                    <td><button class="btn btn-success">派人上门</button></td>
                </tr>
                <tr>
                    <td>2016-1-26</td>
                    <td>11:00-13:00</td>
                    <td>手机平板,电脑家电</td>
                    <td>20kg</td>
                    <td>庄叶</td>
                    <td>15652922740</td>
                    <td>北京市朝阳区北四环东路97号</td>
                    <td>8周</td>
                    <td>未回收</td>
                    <td><input class="form-control form-inline" placeholder="上门回收人姓名"></td>
                    <td><button class="btn btn-success">派人上门</button></td>
                </tr>
            </table>


            <!--已处理-->
            <table class="table table-bordered table-hover text-center">
                <caption>已完成的周期</caption>
                <thead>
                    <td>起始日期</td>
                    <td>时间</td>
                    <td>回收废品</td>
                    <td>总重量</td>
                    <td>联系人</td>
                    <td>手机</td>
                    <td>详细地址</td>
                    <td>用户名</td>
                    <td>回收者</td>
                    <td>付款类型</td>
                    <td>支付金额</td>
                </thead>
                <tr>
                    <td>2016-1-26</td>
                    <td>8:00-10:00</td>
                    <td>三星手机s【1】</td>
                    <td>200g</td>
                    <td>庄叶</td>
                    <td>15652922740</td>
                    <td>北京市朝阳区北四环东路97号</td>
                    <td>庄叶</td>
                    <td>庄树杰</td>
                    <td>电子货币</td>
                    <td>500元</td>
                </tr>
                <tr>
                    <td>2016-1-26</td>
                    <td>8:00-10:00</td>
                    <td>塑料瓶罐【2kg】</td>
                    <td>2000g</td>
                    <td>庄叶</td>
                    <td>15652922740</td>
                    <td>北京市朝阳区北四环东路97号</td>
                    <td>庄叶</td>
                    <td>庄树杰</td>
                    <td>现金</td>
                    <td>40元</td>
                </tr>
                <tr>
                    <td>2016-1-26</td>
                    <td>8:00-10:00</td>
                    <td>塑料瓶罐【2kg】，纸箱报纸【3kg】</td>
                    <td>5000g</td>
                    <td>庄叶</td>
                    <td>15652922740</td>
                    <td>北京市朝阳区北四环东路97号</td>
                    <td>庄叶</td>
                    <td>庄树杰</td>
                    <td>电子货币</td>
                    <td>60元</td>
                </tr>
            </table>

        </div>

        <!--添加废品分类-->
        <div role="tabpanel" class="tab-pane" id="add_waste_sort">
            <div class="container">
                <form class="form-horizontal">
                    <div class="form-group">
                        <label for="name" class="col-sm-2 col-md-2 control-label">分类名称:</label>
                        <div class="col-sm-4 col-md-4">
                            <input type="text" class="form-control" id="name" placeholder="分类名称">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="lowest_price" class="col-sm-2 control-label">最低价:</label>
                        <div class="col-sm-4 col-md-4">
                            <input type="text" class="form-control" id="lowest_price" placeholder="最低价格">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="highest_price" class="col-sm-2 control-label">最高价:</label>
                        <div class="col-sm-4 col-md-4">
                            <input type="text" class="form-control" id="highest_price" placeholder="最高价格">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="highest_price" class="col-sm-2 control-label">物品包括:</label>
                        <div class="col-sm-4 col-md-4">
                            <input type="text" class="form-control" id="include" placeholder="回收物品包括">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="highest_price" class="col-sm-2 control-label">回收用途:</label>
                        <div class="col-sm-4 col-md-4">
                            <input type="text" class="form-control" id="use" placeholder="回收用途">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="state" class="col-sm-2 control-label">是否上架:</label>
                        <div class="col-sm-4 col-md-4">
                            <select class="form-control" name="state" id="state">
                                <option value="true">上架</option>
                                <option value="false">下架</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="photo" class="col-sm-2 control-label">分类图片:</label>
                        <div class="col-sm-4 col-md-4">
                            <input type="file" name="small_photo" id="photo">
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-4 col-md-4">
                            <button type="reset" class="btn btn-default">重写</button>
                            <button type="submit" class="btn btn-success">提交</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <!--展示废品分类-->
        <div role="tabpanel" class="tab-pane" id="waste_sort">
            <div role="tabpanel" class="tab-pane" id="existing_goods">
                <div class="container text-center waste_sort_search">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="请输入分类名称" name="sort_name" ng-model="sort_name" ng-change="filter()">
                            <button type="submit" class="btn btn-success">搜索</button>
                        </div>
                </div>
                <div class="container">
                    <div class="row">

                        <div class="col-sm-4 col-md-3" ng-repeat="waste_sort in waste_sorts">
                            <div class="thumbnail">
                                <img ng-src="{{waste_sort.photo}}" style="width: 200px;height: 200px;" alt="{{waste_sort.name}}">
                                <div class="caption text-center">
                                    <h3>{{waste_sort.name}}</h3>
                                    <p>{{waste_sort.lowest_price}}-{{waste_sort.highest_price}}元</p>
                                    <p>
                                        <a class="btn btn-default" href="recycle_waste_edit_sort.html" target="_blank">编辑</a>
                                        <button type="button" class="btn btn-default" data-toggle="modal" data-target="#revoke_waste_sort_modal">下架</button>
                                    </p>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>
        <!--回收统计-->
        <div role="tabpanel" class="tab-pane" id="recycle_statistics">回收统计，暂且不做</div>
    </div>
</div>


<div class="modal fade" id="cash_pay_bespeak_recycle_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">上门回收现金付款</h4>
            </div>
            <div class="modal-body">
                <form class="form-inline">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-2">
                                <label>收回物品:<button type="button" class="btn btn-default">+</button></label>
                            </div>
                            <div class="col-md-10">
                                <div class="row">
                                    <div class="col-md-12">废品分类:<input type="text" name="waste_sort" style="width: 10%;">
                                        回收单价:<input type="text" name="waste_sort" style="width: 5%;">
                                        数量:<input type="text" name="waste_sort" style="width: 5%;">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">废品分类:<input type="text" name="waste_sort" style="width: 10%;">
                                        回收单价:<input type="text" name="waste_sort" style="width: 5%;">
                                        数量:<input type="text" name="waste_sort" style="width: 5%;">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-2">
                                <label>应付金额:</label>
                            </div>
                            <div class="col-md-10">
                                <div class="input-group">
                                    <span class="input-group-addon">￥</span>
                                    <input type="text" class="form-control" placeholder="应付金额" aria-describedby="basic-addon1">
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-2">
                                <label>收款人:</label>
                            </div>
                            <div class="col-md-10">
                                <input type="text" class="form-control" placeholder="收货人姓名" value="">
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-2">
                                <label>收款人联系方式:</label>
                            </div>
                            <div class="col-md-10">
                                <input type="text" class="form-control" placeholder="手机号码" value="">
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-success">支付</button>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="electronic_pay_bespeak_recycle_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">上门回收电子货币付款</h4>
            </div>
            <div class="modal-body">
                <form class="form-inline">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-2">
                                <label>收回物品:<button type="button" class="btn btn-default">+</button></label>
                            </div>
                            <div class="col-md-10">
                                <div class="row">
                                    <div class="col-md-12">废品分类:<input type="text" name="waste_sort" style="width: 10%;">
                                        回收单价:<input type="text" name="waste_sort" style="width: 5%;">
                                        数量:<input type="text" name="waste_sort" style="width: 5%;">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">废品分类:<input type="text" name="waste_sort" style="width: 10%;">
                                        回收单价:<input type="text" name="waste_sort" style="width: 5%;">
                                        数量:<input type="text" name="waste_sort" style="width: 5%;">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-2">
                                <label>应付金额:</label>
                            </div>
                            <div class="col-md-10">
                                <div class="input-group">
                                    <span class="input-group-addon">￥</span>
                                    <input type="text" class="form-control" placeholder="应付金额" aria-describedby="basic-addon1">
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-2">
                                <label>用户名(必须唯一):</label>
                            </div>
                            <div class="col-md-10">
                                <input type="text" class="form-control" placeholder="用户名" value="">
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-success">支付</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="cash_pay_cycle_recycle_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">周期回收现金付款</h4>
            </div>
            <div class="modal-body">
                <form class="form-inline">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-2">
                                <label>收回物品:<button type="button" class="btn btn-default">+</button></label>
                            </div>
                            <div class="col-md-10">
                                <div class="row">
                                    <div class="col-md-12">废品分类:<input type="text" name="waste_sort" style="width: 10%;">
                                        回收单价:<input type="text" name="waste_sort" style="width: 5%;">
                                        数量:<input type="text" name="waste_sort" style="width: 5%;">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">废品分类:<input type="text" name="waste_sort" style="width: 10%;">
                                        回收单价:<input type="text" name="waste_sort" style="width: 5%;">
                                        数量:<input type="text" name="waste_sort" style="width: 5%;">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-2">
                                <label>应付金额:</label>
                            </div>
                            <div class="col-md-10">
                                <div class="input-group">
                                    <span class="input-group-addon">￥</span>
                                    <input type="text" class="form-control" placeholder="应付金额" aria-describedby="basic-addon1">
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-2">
                                <label>收款人:</label>
                            </div>
                            <div class="col-md-10">
                                <input type="text" class="form-control" placeholder="收货人姓名" value="">
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-2">
                                <label>收款人联系方式:</label>
                            </div>
                            <div class="col-md-10">
                                <input type="text" class="form-control" placeholder="手机号码" value="">
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-success">支付</button>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="electronic_pay_cycle_recycle_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">周期回收电子货币付款</h4>
            </div>
            <div class="modal-body">
                <form class="form-inline">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-2">
                                <label>收回物品:<button type="button" class="btn btn-default">+</button></label>
                            </div>
                            <div class="col-md-10">
                                <div class="row">
                                    <div class="col-md-12">废品分类:<input type="text" name="waste_sort" style="width: 10%;">
                                        回收单价:<input type="text" name="waste_sort" style="width: 5%;">
                                        数量:<input type="text" name="waste_sort" style="width: 5%;">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">废品分类:<input type="text" name="waste_sort" style="width: 10%;">
                                        回收单价:<input type="text" name="waste_sort" style="width: 5%;">
                                        数量:<input type="text" name="waste_sort" style="width: 5%;">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-2">
                                <label>应付金额:</label>
                            </div>
                            <div class="col-md-10">
                                <div class="input-group">
                                    <span class="input-group-addon">￥</span>
                                    <input type="text" class="form-control" placeholder="应付金额" aria-describedby="basic-addon1">
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-2">
                                <label>用户名(必须唯一):</label>
                            </div>
                            <div class="col-md-10">
                                <input type="text" class="form-control" placeholder="用户名" value="">
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-success">支付</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="revoke_waste_sort_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">操作提示</h4>
            </div>
            <div class="modal-body">
                <p>废品分类下架意味着前端用户将不能看到此分类</p>
                <p>您确定继续废品分类下架操作吗？</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-success">确定</button>
            </div>
        </div>
    </div>
</div>

<script src="../../js/jquery-1.11.3.js"></script>
<script src="../../js/bootstrap.js"></script>
<script src="../../js/angular.js"></script>
<script src="../../js/angular-route.js"></script>
<script type="text/javascript">

</script>
</body>
</html>